﻿@model HumanAID.Models.PrikupljenaRoba
@{
    ViewBag.Title = "NovaPrikupljena";
}

<h2>NovaPrikupljena</h2>
<h3>
    @ViewBag.idPotrebneRobe
</h3>

<h2>Doniraj robu</h2>
@using (Html.BeginForm("SacuvajPrikupljenuRobu", "Roba"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.NazivPrikupljeneRobe)
        @Html.TextBoxFor(m => m.NazivPrikupljeneRobe, new { @class = "form-control", @Value = ViewBag.naziv })
        @Html.ValidationMessageFor(m => m.NazivPrikupljeneRobe)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.DoniranaTip)
        @Html.EnumDropDownListFor(
  x => x.DoniranaTip,
new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.DoniranaTip)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.PrikupioRobu)
        @Html.TextBoxFor(m => m.PrikupioRobu, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.PrikupioRobu)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Kolicina)
        @Html.TextBoxFor(m => m.Kolicina, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Kolicina)
    </div>

    Model.IdPotrebneRobe = ViewBag.idPotrebneRobe;
    Model.IdDogadjaja = ViewBag.idDogadjaja;
    @Html.HiddenFor(m => m.Id)
    @Html.AntiForgeryToken();
    <button type="submit" class="btn btn-primary">Sačuvaj</button>
}


@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}