﻿
<h2>Stranica za prikaz prikupljene robe</h2>

@*ovde ce ili da bude prikaz prikupjene robe
    tj treba da bude forma za dodavanje nove robe
    videti sa ostalima da to bude neki pop-up i tako da se prikupi
    da ne salje na novu rutu i novu stranicu*@

<h2>@ViewBag.</h2>