﻿@model HumanAID.Models.RegisterViewModel
@{
    ViewBag.Title = "Registruj se";
}

<h2>@ViewBag.Title.</h2>

<style>
    .form-horizontal {
        margin-left: 30px;
    }

    h2 {
        margin-left: 20%;
        font-family: 'Times New Roman' Arial, Verdana;
    }
</style>
<div class="row">
    <div class="col-md-8">

        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", @id = "provera" }))
        {
            @Html.ValidationSummary(true)
            @Html.AntiForgeryToken()
            <br />
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Email)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.UserName)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Password)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.PhoneNumber, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.PhoneNumber)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Adresa, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Adresa, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Grad, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Grad, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.LinkKaSajtu, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.LinkKaSajtu, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.KorisnikTip)
                @Html.EnumDropDownListFor(
        x => x.KorisnikTip,
    new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.KorisnikTip)
            </div>
            //zavisno od izbora salje nas u razlicite divove

            <div id="divOrganizacije" style="visibility:visible; display:block">
                <div class="form-group">
                    @Html.LabelFor(m => m.NazivOrganizacije, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.NazivOrganizacije, new { id = "nazivOrg", @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.DatumOsnivanjaOrganizacije, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.DatumOsnivanjaOrganizacije, "{0:yyyy-MM-dd}", new { id = "datumOsnivanjaOrg", @class = "form-control", @type = "date" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.GlavniRacun, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.GlavniRacun, new { id = "racun", @class = "form-control" })
                    </div>
                </div>

            </div>

            <div id="divSponzora" style="visibility:hidden; display:none">
                <div class="form-group">
                    @Html.LabelFor(m => m.Naziv, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Naziv, new { id = "nazivSponzora", @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.DatumOsnivanja, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.DatumOsnivanja, "{0:yyyy-MM-dd}", new { id = "datumOsnivanjaSponzora", @class = "form-control", @type = "date" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Delatnost, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Delatnost, new { id = "delatnost", @class = "form-control" })
                    </div>
                </div>

            </div>

            <div id="divVolontera" style="visibility:hidden; display:none">
                <div class="form-group">
                    @Html.LabelFor(m => m.Ime, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Ime, new { id = "ime", @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Prezime, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Prezime, new { id = "prezime", @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.DatumRodjenja, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.DatumRodjenja, "{0:yyyy-MM-dd}", new { id = "datumRodjenja", @class = "form-control", @type = "date" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Pol)
                    <div class="radio">
                        @*ovde cete da vidite za prikaz kako lepse izgleda jedno ispod drugog
                            ili sa nekim razmacima*@
                        @Html.RadioButtonFor(m => m.Pol, "M") Muški <br />
                        @Html.RadioButtonFor(m => m.Pol, "Z") Ženski <br />
                        @Html.RadioButtonFor(m => m.Pol, "D", new { @checked = "checked" }) Drugo <br />
                    </div>
                </div>

            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Opis, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Opis, new { @class = "form-control" })
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-default" value="Registruj se" />
                </div>
            </div>

        }
    </div>
    <div class="col-md-1" style="margin-right:10px; margin-left: 0%;">
        <img src="~/Content/images/logo.jpg" style="width:350px; height:550; margin-right:100%; margin-left0%" />
    </div>
</div>

@section Scripts
     {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/jquery.validate.js")
    @Scripts.Render("~/Scripts/jquery.validate.min.js")
    @Scripts.Render("~/Scripts/jquery.validate.unobtrusive.js")





    <script type="text/javascript">


        ////$("#provera").submit(function (e) {
        ////    e.preventDefault();
        //    var tip = $("#KorisnikTip").val();
        //    if (tip == 0) {
        //        console.log("Uso sam u 0");
        //        var nazivOrg = $("#nazivOrg").val();
        //        var datumOsnivanjaOrg = $("#datumOsnivanjaOrg").val();
        //        var ziroRacun = $("#racun").val();


        //        if (nazivOrg == "" || nazivOrg == undefined) {
        //            alert("Molimo Vas unesite naziv organizacije");
        //            valid=false;
        //        }
        //        else if (datumOsnivanjaOrg == "" || datumOsnivanjaOrg == undefined) {
        //            alert("Molimo Vas unesite datum osnivanja organizacije");
        //            valid=false;
        //        }
        //        else if (ziroRacun == "" || ziroRacun == undefined) {
        //            alert("Molimo Vas unesite ziro racun organizacije");
        //            valid=false;
        //        }
        //        else
        //            valid=true;

        //    }

        //});



        $(document).ready(function () {
            $('#KorisnikTip').change(function () {
                var ddlValue = $(this).val();
                console.log(ddlValue);
                @*mozda je nula pod stringom ili se drugacije pise*@
                if (ddlValue == "0") {
                    console.log("Uso sam  u 0");
                    //$('#divOrganizacije').show();
                    //vec je vidljiv ali ako klikce naizmenicno
                    divOrganizacije.style.visibility = 'visible';
                    divOrganizacije.style.display = 'block';
                    divSponzora.style.visibility = 'hidden';
                    divSponzora.style.display = 'none';
                    divVolontera.style.visibility = 'hidden';
                    divVolontera.style.display = 'none';
                    //var nazivOrg = $("#nazivOrg").val();
                    //var datumOsnivanjaOrg = $("#datumOsnivanjaOrg").val();
                    //var ziroRacun = $("#racun").val();


                    //if(nazivOrg=="" || nazivOrg==undefined)
                    //{
                    //    alert("Molimo Vas unesite naziv organizacije");
                    //    valid=false;
                    //}
                    //if (datumOsnivanjaOrg == "" || datumOsnivanjaOrg == undefined) {
                    //    alert("Molimo Vas unesite datum osnivanja organizacije");
                    //    valid=false;
                    //}
                    //if (ziroRacun == "" || ziroRacun == undefined) {
                    //    alert("Molimo Vas unesite ziro racun organizacije");
                    //    valid = false;
                    //}


                }
                else if (ddlValue == "1") {
                    console.log("Uso sam  u 1");
                    $('#divVolontera').show();
                    divOrganizacije.style.visibility = 'hidden';
                    divOrganizacije.style.display = 'none';
                    divSponzora.style.visibility = 'hidden';
                    divSponzora.style.display = 'none';
                    divVolontera.style.visibility = 'visible';
                    divVolontera.style.display = 'block';

                    //$("nazivOrg").val("0");
                    //$("racun").val("0");
                    //$("datumOsnivanjaOrg").val("10 Jun 00");
                    //$("nazivSponzora").val("0");
                    //$("datumOsnivanjaSponzora").val("10 Jun 00");
                    //$("delatnost").val("0");
                }
                else {
                    //$('#divSponzora').show();
                    divOrganizacije.style.visibility = 'hidden';
                    divOrganizacije.style.display = 'none';
                    divVolontera.style.visibility = 'hidden';
                    divVolontera.style.display = 'none';
                    divSponzora.style.visibility = 'visible';
                    divSponzora.style.display = 'block';

                    //$("nazivOrg").val("0");
                    //$("racun").val("0");
                    //$("datumOsnivanjaOrg").val("10 Jun 00");
                    //$("ime").val("0");
                    //$("prezime").val("0");
                    //$("datumRodjenja").val("10 Jun 00");

                }
                //else {
                //    var nazivOrg = $("#nazivOrg").val();
                //    var datumOsnivanjaOrg = $("#datumOsnivanjaOrg").val();
                //    var ziroRacun = $("#racun").val();


                //    if(nazivOrg=="" || nazivOrg==undefined)
                //    {
                //        alert("Molimo Vas unesite naziv organizacije");
                //        valid=false;
                //    }
                //    if (datumOsnivanjaOrg == "" || datumOsnivanjaOrg == undefined) {
                //        alert("Molimo Vas unesite datum osnivanja organizacije");
                //        valid=false;
                //    }
                //    if (ziroRacun == "" || ziroRacun == undefined) {
                //        alert("Molimo Vas unesite ziro racun organizacije");
                //        valid = false;
                //    }

            });
        });
    </script>
    @Scripts.Render("~/bundles/jqueryval")
}
