﻿@{
    ViewBag.Title = "HumanAID";
}
<link rel="stylesheet" href="~/Content/style.css">
<h2>@ViewBag.Title</h2>

<div class="celaStrana" style="display:table; border-collapse:separate ; border-spacing:20px;">
    <div class="leviDeo" style="display:table-cell">
        <img src="/Content/images/logo.jpg" style="width:500px; height:400px;">
    </div>
    <div class="desniDeo" style="display:table-cell">
        <h4>
            Sajt HumanAID napravljen je od strane studentskog tima CodeToAid u cilju realizacije projekta iz
            predmeta Softversko inženjerstvo. Ovaj sajt je namenjen onim ljudima koji su zainteresovani
            da učestvuju u realizaciji nekog dogadjaja humanitarnog karaktera.

        </h4>
    </div>
</div>

