﻿@{
    ViewBag.Title = "HumanAID";
}
<link rel="stylesheet" href="~/Content/style.css">


@*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">*@
<div class="jumbotron">

    <div class="text-dark text-md-right text-center banner">
        <h1 class="disply-5 banner-heading">
            Dobrodošli na sajt
            <span class="display-5 font-weight-bold banner-par"> HumanAID </span>
        </h1>
    </div>
</div>
