﻿@using Microsoft.AspNet.Identity;
@model HumanAID.ViewModels.SviSponzoriViewModel


<link rel="stylesheet" href="~/Content/style1.css" />

<h2>
    Sponzori
</h2>


@if (Model.ListaSponzora.Equals(null))
{
    <p>Ne postoje volonteri na sajtu.</p>
}
else
{
    <table id="sponzori" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>UserName</th>
                <th>Naziv sponzora</th>
                <th>Delatnost</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var sponzor in Model.ListaSponzora)
            {
                bool vidljiv = false;
                var userId = User.Identity.GetUserId();
                if (userId != null)
                {

                    if (userId == sponzor.Id)
                    {
                        vidljiv = true;
                    }
                    else
                    {
                        vidljiv = false;
                    }
                }


                <tr>
                    <td>@sponzor.UserName</td>
                    <td>@Html.ActionLink(sponzor.Naziv, "PrikaziProfilSponzora", "Sponzor", new { id = sponzor.Id, vidljivost = vidljiv }, null)</td>
                    <td>@sponzor.Delatnost</td>
                    @*<td>
                            <button data-sponzor-id="@sponzor.Id" class="btn-link js-delete">Obrisi Sponzora</button>
                        </td>*@
                </tr>
            }
        </tbody>
    </table>
}
@section scripts
{
    @*<script>
            $(document).ready(function () {
                var tabela = $("#sponzori").DataTable();
                $("#sponzori").on("click", ".js-delete", function () {
                    var button = $(this);
                    bootbox.confirm("Da li ste sigurni da zelite da obrisete sponzora?", function (result) {
                        if (result) {
                            $.ajax({
                                url: "/api/sponzori/" + button.attr("data-sponzor-id"),
                                method: "DELETE",
                                success: function () {
                                    tabela.row(button.parents("tr")).remove().draw();
                                }
                            });
                        }
                    });
                });
            });
        </script>*@
    <script>
                $(document).ready(function () {
            var tabela = $("#sponzori").DataTable({
                language: {
                    "sProcessing": "Procesiranje u toku...",
                    "sLengthMenu": "Prikaži _MENU_ elemenata",
                    "sZeroRecords": "Nije pronađen nijedan rezultat",
                    "sInfo": "Prikaz _START_ do _END_ od ukupno _TOTAL_ elemenata",
                    "sInfoEmpty": "Prikaz 0 do 0 od ukupno 0 elemenata",
                    "sInfoFiltered": "(filtrirano od ukupno _MAX_ elemenata)",
                    "sInfoPostFix": "",
                    "sSearch": "Pretraga:",
                    "sUrl": "",
                    "oPaginate": {
                        "sFirst": "Početna",
                        "sPrevious": "Prethodna",
                        "sNext": "Sledeća",
                        "sLast": "Poslednja"
                    }
                }
            });


        });
    </script>
}

