﻿
@model HumanAID.ViewModels.ProfilSponzoraViewModel

<link rel="stylesheet" href="~/Content/style1.css" />

<br />
<div class="row">
    <div class="col-md-8">
        <img src="@Url.Content("~/Content/images/")logo.jpg" style="width:80%;height:300px">
    </div>
    <div class="col-md-3">
        <h2 class="textSredina"> @Model.Sponzor.Naziv</h2>

        <h4 class="textSredina">Adresa: @Model.Sponzor.Adresa</h4>
        <h4 class="textSredina">Grad: @Model.Sponzor.Grad</h4>
        <h4 class="textSredina">Broj telefona :@Model.Sponzor.PhoneNumber</h4>
        <h4 class="textSredina">Opis: @Model.Sponzor.Opis</h4>
        <h4 class="textSredina">Datum osnivanja kompanije:@Model.Sponzor.DatumOsnivanja</h4>

    </div>
</div>
<br />
<br />

@if (Model.ListaDonira.Equals(null))
{
    <p>Nema doniranih dogadjaja</p>
}
else
{
    <table id="doniraniDogadjaji" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Naziv dogadjaja</th>
                <th>Datum odrzavanja</th>
                @*<th>Prekini sponzorstvo</th>*@
            </tr>
        </thead>
        <tbody>
            @foreach (var donira in Model.ListaDonira)
            {
                <tr>
                    <td>@Html.ActionLink(donira.Dogadjaj.NazivDogadjaja, "PrikazDogadjaja", "Dogadjaj", new { id = donira.Dogadjaj.Id }, null)</td>
                    <td>@donira.Dogadjaj.DatumPocetkaDogadjaja</td>
                    @*<td>
                            <button data-donira-id="@donira.Id" class="btn-link js-delete">Prekini sponzorstvo</button>
                        </td>*@
                </tr>
            }
        </tbody>
    </table>
}
@section scripts
{
    <script>
        //$(document).ready(function () {
        //    var tabela = $("#doniraniDogadjaji").DataTable();
        //    $("#doniraniDogadjaji").on("click", ".js-delete", function () {
        //        var button = $(this);
        //        bootbox.confirm("Da li ste sigurni da zelite da prestanete sa sponzorstvom dogadjaja?", function (result) {
        //            if (result) {
        //                $.ajax({
        //                    url: "/api/donira/" + button.attr("data-donira-id"),
        //                    method: "DELETE",
        //                    success: function () {
        //                        tabela.row(button.parents("tr")).remove().draw();
        //                    }
        //                });
        //            }
        //        });
        //    });
        //});
        $(document).ready(function () {
            var tabela = $("#doniraniDogadjaji").DataTable({
                language: {
                    "sProcessing": "Procesiranje u toku...",
                    "sLengthMenu": "Prikaži _MENU_ elemenata",
                    "sZeroRecords": "Nije pronađen nijedan rezultat",
                    "sInfo": "Prikaz _START_ do _END_ od ukupno _TOTAL_ elemenata",
                    "sInfoEmpty": "Prikaz 0 do 0 od ukupno 0 elemenata",
                    "sInfoFiltered": "(filtrirano od ukupno _MAX_ elemenata)",
                    "sInfoPostFix": "",
                    "sSearch": "Pretraga:",
                    "sUrl": "",
                    "oPaginate": {
                        "sFirst": "Početna",
                        "sPrevious": "Prethodna",
                        "sNext": "Sledeća",
                        "sLast": "Poslednja"
                    }
                }
            });


        });
    </script>
}



