﻿@using Microsoft.AspNet.Identity;
@model HumanAID.ViewModels.SveOrganizacijeViewModel

<link rel="stylesheet" href="~/Content/style1.css" />
<h2>
    Humanitarne Organizacije
</h2>


@if (Model.ListaOrganizacija.Equals(null))
{
    <p>Ne postoje humanitarne organizacije na sajtu.</p>
}
else
{
    <table id="organizacije" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Username</th>
                <th>Naziv humanitarne organizacije</th>
                <th>Glavni racun</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var organizacija in Model.ListaOrganizacija)
            {
                if (!organizacija.Administrator)
                {
                    bool vidljiv = false;
                    var userId = User.Identity.GetUserId();
                    if (userId != null)
                    {

                        if (userId == organizacija.Id)
                        {
                            vidljiv = true;
                        }
                        else
                        {
                            vidljiv = false;
                        }
                    }
                    <tr>
                        <td>@organizacija.UserName</td>
                        <td>@Html.ActionLink(organizacija.NazivOrganizacije, "PrikaziProfilOrganizacije", "HumanitarnaOrganizacija", new { id = organizacija.Id, vidljivost = vidljiv }, null)</td>
                        <td>@organizacija.GlavniRacun</td>
                    </tr>
                }
            }
        </tbody>

    </table>
}
@section scripts
{
    @*<script>
            $(document).ready(function () {
                var tabela = $("#organizacije").DataTable();
                $("#organizacije").on("click", ".js-delete", function () {
                    var button = $(this);
                    bootbox.confirm("Da li ste sigurni da zelite da obrisete humanitarnu organizaciju?", function (result) {
                        if (result) {
                            $.ajax({
                                url: "/api/humanitarneorganizacije/" + button.attr("data-organizacija-id"),
                                method: "DELETE",
                                success: function () {
                                    tabela.row(button.parents("tr")).remove().draw();
                                }
                            });
                        }
                    });
                });
            });
        </script>*@

    <script>
        $(document).ready(function () {
            var tabela = $("#organizacije").DataTable({
                language: {
                    "sProcessing": "Procesiranje u toku...",
                    "sLengthMenu": "Prikaži _MENU_ elemenata",
                    "sZeroRecords": "Nije pronađen nijedan rezultat",
                    "sInfo": "Prikaz _START_ do _END_ od ukupno _TOTAL_ elemenata",
                    "sInfoEmpty": "Prikaz 0 do 0 od ukupno 0 elemenata",
                    "sInfoFiltered": "(filtrirano od ukupno _MAX_ elemenata)",
                    "sInfoPostFix": "",
                    "sSearch": "Pretraga:",
                    "sUrl": "",
                    "oPaginate": {
                        "sFirst": "Početna",
                        "sPrevious": "Prethodna",
                        "sNext": "Sledeća",
                        "sLast": "Poslednja"
                    }
                }
            });


        });
    </script>
}

