﻿
@using Microsoft.AspNet.Identity;

@model HumanAID.ViewModels.ProfilOrganizacijeViewModel


<link rel="stylesheet" href="~/Content/style1.css" />
@{
    ViewBag.Title = "ProfilOrganizacijeOstali";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<br />
<div class="row">
    <div class="col-md-8">
        @*<img src="@Url.Content("D:\\SWE projekat\\HumanAID\\HumanAID\\App_Data\\users\\slika.jpg") style="width:80%;height:300px">*@

        <img src="@Url.Content("~/Content/images/")@Model.Organizacija.LogoPutanja" style="width:80%;height:300px">
    </div>
    <div class="col-md-3">
        <h2 class="textSredina"> @Model.Organizacija.NazivOrganizacije</h2>

        <h4 class="textSredina">Adresa: @Model.Organizacija.Adresa</h4>
        <h4 class="textSredina">Grad: @Model.Organizacija.Grad</h4>
        <h4 class="textSredina">Broj telefona: @Model.Organizacija.PhoneNumber</h4>
        @if (Model.Organizacija.DatumOsnivanja != null)
        {
            <h4 class="textSredina">Datum Osnivanja: @Model.Organizacija.DatumOsnivanja</h4>
        }
        <h4 class="textSredina">Račun humanitarne organizacije: @Model.Organizacija.GlavniRacun</h4>
       <h4 class="textSredina">Opis: @Model.Organizacija.Opis</h4>



    </div>
</div>
<br />
<br />


@if (Model.ListaOrganizovanihDogadjaja.Equals(null))
{
    <p>Nema organizovanih dogadjaja</p>
}
else
{


    <table id="organizovaniDogadjaji" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Naziv dogadjaja</th>
                <th>Datum odrzavanja</th>
                <th>Faza dogadjaja</th>
                @*<th>Da li imate sredstava da kupite preostale stvari</th>
                    <th>Prebaci u aktuelni</th>
                    <th>Obrisi dogadjaj</th>*@
            </tr>
        </thead>
        <tbody>
            @*@{
                int count = Model.ListaOrganizovanihDogadjaja.Count();
                int i = 0;*@


            @foreach (var dogadjaj in Model.ListaOrganizovanihDogadjaja)
                {
                <tr>
                    <td>@Html.ActionLink(dogadjaj.NazivDogadjaja, "PrikazDogadjaja", "Dogadjaj", new { id = dogadjaj.Id }, null)</td>
                    <td>@dogadjaj.DatumPocetkaDogadjaja</td>
                    <td>@dogadjaj.Faza</td>
                    @*@if (Model.MozeDaSeKupiOstatak[i] == true)
                            {
                                <td>
                                    Imate dovoljno sredstava da organizujete dogadjaj <br />
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">Kliknite za vise informacija</button>
                                </td>
                            }
                            else if (dogadjaj.Faza == HumanAID.Models.FazaDogadjaja.UPripremi)
                            {
                                <td>Zao nam je i dalje nemate dovoljno sredstava da kupite preostalu robu</td>
                            }
                            else
                            {
                                <td>Dogadjaj nije u fazi pripreme</td>
                            }

                            @{ i++;}
                            @if (dogadjaj.Faza == HumanAID.Models.FazaDogadjaja.UPripremi)
                            {
                                <td><button data-id="@dogadjaj.Id" class="btn-link js-update">Prebaci u aktuelnu fazu</button></td>
                            }
                            else
                            {
                                <td>Dogadjaj nije u fazi pripreme</td>
                            }
                            <td>
                                <button data-dogadjaj-id="@dogadjaj.Id" class="btn-link js-delete">Obrisi dogadjaj</button>
                            </td>
                        </tr>*@
                </tr>
            }

        </tbody>

    </table>
}


@*<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">Obavestenje</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Da biste lksejlkjsdflksdajflksadjfklsdaflksdfksjdklfjskfjdslfjlk
                        idite tamo i kliknite to i to i onda uradite to i to.
                        Tekst kao objasnjenje sta da se uradi ili link ka nekoj stranici
                        ali sumnjam da ce to da se uradi. I opciono link ka tom konkretnom dogadjaju
                        da ona odmah moze da izvrsi te korake.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">U redu</button>

                    </div>
                </div>
            </div>
        </div>

                                }

    @section scripts
    {
        <script>
            $(document).ready(function () {
                var tabela = $("#organizovaniDogadjaji").DataTable();
                //console.log(dogadjajPut);
                $("#organizovaniDogadjaji").on("click", ".js-update", function () {

                    var button = $(this);
                    console.log(button);
                    console.log(button.attr("data-id"));
                    $.ajax({
                        url: "/api/dogadjaji/" + button.attr("data-id"),
                        method: "GET",
                        success: function (data, textStatus, jqXHR) {
                            console.log(data);
                            var dogadjajPut = data;
                            $.ajax({
                                contentType: 'application/json',
                                type: "PUT",
                                url: "/api/dogadjaji/" + dogadjajPut.id,
                                data: JSON.stringify({
                                    id: dogadjajPut.id,
                                    nazivDogadjaja: dogadjajPut.nazivDogadjaja,
                                    mestoOdrzavanja: dogadjajPut.mestoOdrzavanja,
                                    datumPocetkaDogadjaja: dogadjajPut.datumPocetkaDogadjaja,
                                    datumKrajaDogadjaja: dogadjajPut.datumKrajaDogadjaja,
                                    brojPotrebnihVolontera: dogadjajPut.brojPotrebnihVolontera,
                                    brojTrenutnihVolontera: dogadjajPut.brojTrenutnihVolontera,
                                    ziroRacun: dogadjajPut.ziroRacun,
                                    opis: dogadjajPut.opis,
                                    faza: 1,
                                    idKaOrganizaciji: dogadjajPut.idKaOrganizaciji,
                                    idPotrebnogNovca: dogadjajPut.idPotrebnogNovca,
                                    datumPostavljanja: dogadjajPut.datumPostavljanja,
                                    urlSlike: dogadjajPut.urlSlike
                                }),
                                success: function (data, textStatus, jqXHR) {
                                    console.log("Uspeli smo da promenimo fazu u aktuelni");
                                    window.location.href = "/organizacija/prikaziorganizovanedogadjaje/" + "@User.Identity.GetUserId()"
                                },
                                error: function (jqXHR, textStatus, errorThrown) {
                                    console.log("Nismo uspeli da promenimo fazu")
                                }
                            });


                        }
                    });

                });

                $("#organizovaniDogadjaji").on("click", ".js-delete", function () {
                    var button = $(this);
                    bootbox.confirm("Da li ste sigurni da želite da obrišete izabrani događaj?", function (result) {
                        if (result) {
                            $.ajax({
                                url: "/api/dogadjaji/" + button.attr("data-dogadjaj-id"),
                                method: "DELETE",
                                success: function () {
                                    console.log("Obrisao sam i uso sam");
                                    tabela.row(button.parents("tr")).remove().draw();
                                }
                            });
                        }
                    });
                });
            });
        </script>
    }*@
@section scripts
{
    <script>

        $(document).ready(function () {
            var tabela = $("#organizovaniDogadjaji").DataTable({

                language: {
                    "sProcessing": "Procesiranje u toku...",
                    "sLengthMenu": "Prikaži _MENU_ elemenata",
                    "sZeroRecords": "Nije pronađen nijedan rezultat",
                    "sInfo": "Prikaz _START_ do _END_ od ukupno _TOTAL_ elemenata",
                    "sInfoEmpty": "Prikaz 0 do 0 od ukupno 0 elemenata",
                    "sInfoFiltered": "(filtrirano od ukupno _MAX_ elemenata)",
                    "sInfoPostFix": "",
                    "sSearch": "Pretraga:",
                    "sUrl": "",
                    "oPaginate": {
                        "sFirst": "Početna",
                        "sPrevious": "Prethodna",
                        "sNext": "Sledeća",
                        "sLast": "Poslednja"
                    }
                }
            });
        });
    </script>
}