﻿@using Microsoft.AspNet.Identity;
@model HumanAID.ViewModels.SviVolonteriViewModel

@*<link rel="stylesheet" href="~/Content/style.css" />*@
<link rel="stylesheet" href="~/Content/style1.css" />

<h2>
    Volonteri
</h2>
<br />

@if (Model.ListaVolontera.Equals(null))
{
    <p>Ne postoje volonteri na sajtu.</p>
}
else
{
    <table id="volonteri" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Username</th>
                <th>Ime volontera</th>
                <th>Prezime volontera</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var volonter in Model.ListaVolontera)
            {
                bool vidljiv = false;
                var userId = User.Identity.GetUserId();
                if (userId != null)
                {

                    if (userId == volonter.Id)
                    {
                        vidljiv = true;
                    }
                    else
                    {
                        vidljiv = false;
                    }
                }

                <tr>
                    <td>@Html.ActionLink(volonter.UserName, "PrikaziProfilVolontera", "Volonter", new { id = volonter.Id, vidljivost = vidljiv }, null)</td>
                    <td>@volonter.Ime</td>
                    <td>@volonter.Prezime</td>

                    @*<td>
                            <button data-volonter-id="@volonter.Id" class="btn-link js-delete">Obrisi Volontera</button>
                        </td>*@
                </tr>
            }
        </tbody>
    </table>
}
@section scripts
{
    @*<script>
            $(document).ready(function () {
                var tabela = $("#volonteri").DataTable();
                $("#volonteri").on("click", ".js-delete", function () {
                    var button = $(this);
                    bootbox.confirm("Da li ste sigurni da zelite da obrisete volontera?", function (result) {
                        if (result) {
                            $.ajax({
                                url: "/api/volonteri/" + button.attr("data-volonter-id"),
                                method: "DELETE",
                                success: function () {
                                    tabela.row(button.parents("tr")).remove().draw();
                                }
                            });
                        }
                    });
                });
            });
        </script>*@

    <script>
        $(document).ready(function () {
            var tabela = $("#volonteri").DataTable({
                language: {
                    "sProcessing": "Procesiranje u toku...",
                    "sLengthMenu": "Prikaži _MENU_ elemenata",
                    "sZeroRecords": "Nije pronađen nijedan rezultat",
                    "sInfo": "Prikaz _START_ do _END_ od ukupno _TOTAL_ elemenata",
                    "sInfoEmpty": "Prikaz 0 do 0 od ukupno 0 elemenata",
                    "sInfoFiltered": "(filtrirano od ukupno _MAX_ elemenata)",
                    "sInfoPostFix": "",
                    "sSearch": "Pretraga:",
                    "sUrl": "",
                    "oPaginate": {
                        "sFirst": "Početna",
                        "sPrevious": "Prethodna",
                        "sNext": "Sledeća",
                        "sLast": "Poslednja"
                    }
                }
            });


        });
    </script>


}

<style>
    body {
        margin: 0;
        background-color: whitesmoke;
        color: black;
        font-family: Calibri, sans-serif;
    }


    thead {
        background-color: #6a84cc;
        color: whitesmoke;
    }

    tbody {
        background-color: #fcfcfc;
    }
</style>