﻿
@model HumanAID.ViewModels.ProfilVolonteraViewModel

@*<link rel="stylesheet" href="~/Content/style.css" />*@
<link rel="stylesheet" href="~/Content/style1.css" />

<style>
    body {
        margin: 0;
        background-color: whitesmoke;
        color: black;
        font-family: Calibri, sans-serif;
    }


    thead {
        background-color: #6a84cc;
        color: whitesmoke;
    }

    tbody {
        background-color: #fcfcfc;
    }

    .divTable {
        display: table;
        border-spacing: 15px;
        /*border-collapse: separate;*/
        /*width: 100%;*/
    }

    .divTableCell {
        display: table-cell;
    }

    .textSredina {
        text-align: center;
    }
</style>



<br />

<div class="row">
    <div class="col-md-8">
        <img src="@Url.Content("~/Content/images/")logo.jpg" style="width:80%;height:300px">
    </div>
    <div class="col-md-3">
        <h2 class="textSredina"> @Model.Volonter.Ime @Model.Volonter.Prezime</h2>

        @*<h4 class="textSredina">Pol:@Model.Volonter.Pol</h4>*@
        <h4 class="textSredina">Email:@Model.Volonter.Email</h4>
        <h4 class="textSredina">Broj telefona:@Model.Volonter.PhoneNumber</h4>
        <h4 class="textSredina">Grad: @Model.Volonter.Grad</h4>
        @*<h4 class="textSredina">Adresa:@Model.Volonter.Adresa</h4>*@

    </div>
</div>
<br />
<br />
@if (Model.ListaVolontira.Equals(null))
{
    <p>Nema volontiranih dogadjaja</p>
}
else
{
    <table id="volontiraniDogadjaji" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Naziv dogadjaja</th>
                <th>Datum odrzavanja</th>
                @*<th>Obrisi volonterstvo</th>*@
            </tr>
        </thead>
        <tbody>
            @foreach (var volontira in Model.ListaVolontira)
            {
                <tr>
                    <td>@Html.ActionLink(volontira.Dogadjaj.NazivDogadjaja, "PrikazDogadjaja", "Dogadjaj", new { id = volontira.Dogadjaj.Id }, null)</td>
                    <td>@volontira.Dogadjaj.DatumPocetkaDogadjaja</td>
                    @*<td>
                            <button data-volontira-id="@volontira.Id" class="btn-link js-delete">Obrisi Volonterstvo</button>
                        </td>*@
                </tr>
            }
        </tbody>
    </table>
}

@*@section scripts
    {
        <script>
            $(document).ready(function () {
                var tabela = $("#volontiraniDogadjaji").DataTable();
                $("#volontiraniDogadjaji").on("click", ".js-delete", function () {
                    var button = $(this);
                    bootbox.confirm("Da li ste sigurni da zelite da prestanete sa volontiranjem?", function (result) {
                        if (result) {
                            $.ajax({
                                url: "/api/volontira/" + button.attr("data-volontira-id"),
                                method: "DELETE",
                                success: function () {
                                    tabela.row(button.parents("tr")).remove().draw();
                                }
                            });
                        }
                    });
                });
            });
        </script>
    }*@

@section scripts
    {
    <script>
        $(document).ready(function () {
            var tabela = $("#volontiraniDogadjaji").DataTable({
                language: {
                    "sProcessing": "Procesiranje u toku...",
                    "sLengthMenu": "Prikaži _MENU_ elemenata",
                    "sZeroRecords": "Nije pronađen nijedan rezultat",
                    "sInfo": "Prikaz _START_ do _END_ od ukupno _TOTAL_ elemenata",
                    "sInfoEmpty": "Prikaz 0 do 0 od ukupno 0 elemenata",
                    "sInfoFiltered": "(filtrirano od ukupno _MAX_ elemenata)",
                    "sInfoPostFix": "",
                    "sSearch": "Pretraga:",
                    "sUrl": "",
                    "oPaginate": {
                        "sFirst": "Početna",
                        "sPrevious": "Prethodna",
                        "sNext": "Sledeća",
                        "sLast": "Poslednja"
                    }
                }
            });


        });
    </script>
}

