﻿@model HumanAID.Models.ApplicationUser

@{
    ViewBag.Title = "VolonterForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Forma Volontera</h2>
<form id="formaizmeni">
    <div  id="user">
        <div class="form-group">
            @Html.Label("Korisničko ime")
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @id = "username" })
            @Html.ValidationMessageFor(m => m.UserName)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Ime)
            @Html.TextBoxFor(m => m.Ime, new { @class = "form-control", @id = "ime" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Prezime)
            @Html.TextBoxFor(m => m.Prezime, new { @class = "form-control", @id = "prezime" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.DatumRodjenja)
            @Html.TextBoxFor(m => m.DatumRodjenja, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date", @id = "rodjenje" })
        </div>
        <div class="form-group">
            @Html.Label("Kontakt telefon")
            @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", @id = "broj" })
            @Html.ValidationMessageFor(m => m.PhoneNumber)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Adresa)
            @Html.TextBoxFor(m => m.Adresa, new { @class = "form-control", @id = "adresa" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Grad)
            @Html.TextBoxFor(m => m.Grad, new { @class = "form-control", @id = "grad" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Opis)
            @Html.TextBoxFor(m => m.Opis, new { @class = "form-control", @id = "opis" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.LinkKaSajtu)
            @Html.TextBoxFor(m => m.LinkKaSajtu, new { @class = "form-control", @id = "sajt" })
        </div>
        @*<div class="radio" id="pol">
            ovde cete da vidite za prikaz kako lepse izgleda jedno ispod drugog
                ili sa nekim razmacima
            @Html.RadioButtonFor(m => m.Pol, "M") Muški <br />
            @Html.RadioButtonFor(m => m.Pol, "Z") Ženski <br />
            @Html.RadioButtonFor(m => m.Pol, "D", new { @checked = "checked" }) Drugo <br />
        </div>*@

        @Html.HiddenFor(m => m.KorisnikTip, new { @id = "tip" })
        @Html.HiddenFor(m => m.Id, new { @id = "id" })
        @Html.HiddenFor(m => m.DatumRegistracijeKorisnika, new { @id = "registracija" })
        @Html.HiddenFor(m => m.LogoPutanja, new { @id = "slika" })
        @Html.HiddenFor(m => m.NazivOrganizacije, new { @id = "nazivOrg" })
        @Html.HiddenFor(m => m.DatumOsnivanjaOrganizacije, new { @id = "datumOrg" })
        @Html.HiddenFor(m => m.GlavniRacun, new { @id = "racun" })
        @Html.HiddenFor(m => m.Naziv, new { @id = "naziv" })
        @Html.HiddenFor(m => m.Delatnost, new { @id = "delatnost" })
        @Html.HiddenFor(m => m.Administrator, new { @id = "admin" })
        @Html.HiddenFor(m => m.DatumOsnivanja, new { @id="osnivanje"})
        @Html.HiddenFor(m => m.Email, new { @id = "email" })
        @Html.HiddenFor(m => m.Pol, new { @id = "pol" })
        <div id="divput">
            <button id="userput" class="btn btn-default">Izmeni</button>
            @Html.AntiForgeryToken()
        </div>

    </div>
</form>
@section scripts
{

@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/Scripts/jquery.validate.js")
@Scripts.Render("~/Scripts/jquery.validate.min.js")
@Scripts.Render("~/Scripts/jquery.validate.unobtrusive.js")


<script>
        $("#formaizmeni").submit(function (e) {
            e.preventDefault();

            $.ajax({
                contentType: 'application/json',
                type: "PUT",
                url: "/api/users/"+"@Model.Id",
                data: JSON.stringify({
                    id: $("#user").find("#id").val(),
                    email: $("#user").find("#email").val(),
                    phoneNumber: $("#user").find("#broj").val(),
                    userName: $("#user").find("#username").val(),
                    korisnikTip: $("#user").find("#tip").val(),
                    administrator: $("#user").find("#admin").val(),
                    adresa: $("#user").find("#adresa").val(),
                    grad: $("#user").find("#grad").val(),
                    opis: $("#user").find("#opis").val(),
                    linkKaSajtu: $("#user").find("#sajt").val(),
                    logoPutanja: $("#user").find("#slika").val(),
                    datumRegistracijeKorisnika: $("#user").find("#registracija").val(),
                    nazivOrganizacije: $("#user").find("#nazivOrg").val(),
                    datumOsnivanjaOrganizacije: $("#user").find("#datumOrg").val(),
                    galvniRacun: $("#user").find("#racun").val(),
                    naziv: $("#user").find("#naziv").val(),
                    datumOsnivanja: $("#user").find("#osnivanje").val(),
                    delatnost: $("#user").find("#delatnost").val(),
                    ime: $("#user").find("#ime").val(),
                    prezime: $("#user").find("#prezime").val(),
                    datumRodjenja: $("#user").find("#rodjenje").val(),
                    pol: $("#user").find("#pol").val()
                }),
                success: function (data, textStatus, jqXHR) {
                    console.log("Uspeli smo da izmenimo korisnika");
                    console.log(data.id);
                    console.log(textStatus);
                    console.log(jqXHR);
                    window.location.href = "/volonter/profil/" + "@Model.Id"+"/"+true;
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    bootbox.alert("Username je zauzet!");
                }
            });
        });
</script>
}
