/** {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color:lightgray;
    color: black;
    font-family:'Times New Roman' Arial,Verdana;
}

.center {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    width: 70%;
    font-size: 30px;
    display: block;
    text-align: center;
}

.char {
    font-size: 40px;
    height: 40px;
    animation: an 1s ease-out 1 both;
    display: inline-block;
}



*/




body {
    margin: 0;
    background-color: whitesmoke;
    color: black;
    font-family: Calibri, sans-serif;
}


thead {
    background-color: #6a84cc;
    color: whitesmoke;
}

tbody {
    background-color: #fcfcfc;
}

.divTable {
    display: table;
    border-spacing: 15px;
    /*border-collapse: separate;*/
    /*width: 100%;*/
}

.divTableCell {
    display: table-cell;
}

.textSredina {
    text-align: center;
}


