
.jumbotron
{   
padding-top: 0px;
padding-bottom:0px;
background-image:url("/Content/images/people.jpg");
background-size: cover;
height:560px;
 }

.card-img-top{
  width:100%;
  height:300px;
}
/*.modal-dialog {
    min-height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: auto;
    margin-right:150px;
}

@media(max-width: 768px) {
  .modal-dialog {
    min-height: calc(100vh - 20px);
  }
}*/
.modal-open .modal.modal-center {
    display: flex!important;
    align-items: center!important;
    .modal-dialog {
        flex-grow: 1;
    }
}
body
{
     font-family:'Times New Roman' Arial,Verdana; 
    background:lightgray;

}
/*card{
    background-image:url("../Content/images/b1.jpg");
}*/
.body-content{
   background:lightgray;
}
.navbar-nav{
    font:20px;
}
header{
     height:100vh;
     background:url(images/people.jpg) center center/cover;
}

.nav-menu
{
    background:linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.5));
    padding:20px;
    transition: all .7s;
}
.nav-active
{
    color:blue;
}
nav{
    font-size:25px;

}
.nav-link
{
    color:white;
}
/*.nav-link:hover{
    color:red;
}*/
/*.dropdown-item
{
   
}*/
.menu-item
{
    font-size: 16px;
    color:white;
    transition: color .5s;
}
/*.menu-item:hover{
    color:red;
}*/
.line1, .line2, .line3
{
    width: 23px;
    height: 3px;
    margin:5px;
    transition: all .4s;
}

.change .line1
{
    transform: rotate(-45deg) translate(-5px,-6px);
}
.change .line2
{
    opacity: 0;
}
.change .line3
{
    transform: rotate(-45deg) translate(-5px,-6px);
}
.custom-navbar
{
    padding: 5px,30px;
    background: linear-gradient(rgba(0,0,0,.6),rgba(0, 0, 0, .7));
}
.banner
{
    position: absolute;
    top:60%;
    right:65%;
    transform:translate(-50%,-50%);
    width:22%;
    
     
}
.banner-heading
{
    animation-name: anim;
    animation-duration: 2s;
}
.banner-par
{
    animation-name: anim;
    animation-duration: 2s;
    animation-delay:.5s;
    animation-fill-mode: backwards; 
}
.dogadjajiAktuelni
{
    background:lightblue;
}
.dogadjajiProsli{
    background:lightblue;
}
.dogadjajiUPripremi{
    background:lightblue;
}
.pom
{
    top:25px;
}


.card-shadow
{
   box-shadow: 5px 8px 20px #444;
}
.heading
{
    position: absolute;
    top:70%;
    right:0;
}

@keyframes anim
{
    0%
    {
        transform:translateX(-100px);
        opacity: 0;
    }
    100%{
        transform:translateX(0);
        opacity: 1;
    }
}

.footer-link
{
    color:#eee;
    font-size:13px;
}
.pocetna
{
    background:#f3efef;
    position: responsive;
}

@keyframes moveFromLeft {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

   /** {
        box-sizing: border-box;
    }*/

    /*body {
        margin: 0;
        background-color: whitesmoke;
        color: black;
        font-family: Calibri, sans-serif;
    }*/

    /*.center {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    p {
        width: 70%;
        font-size: 30px;
        display: block;
        text-align: center;
    }

    .char {
        font-size: 40px;
        height: 40px;
        animation: an 1s ease-out 1 both;
        display: inline-block;
    }

    @keyframes an {
        from {
            opacity: 0;
            transform: perspective(500px) translate3d(-35px, -40px, -150px) rotate3d(1, -1, 0, 35deg);
        }

        to {
            opacity: 1;
            transform: perspective(500px) translate3d(0, 0, 0);
        }
    }

    .mylink {
        position: absolute;
        z-index: 150;
        bottom: 0;
        right: 0;
        width: 100%;
        text-align: right;
        padding: .6rem;
    }

.mylink a {
            font-family: Calibri;
            color: #fff;
            border-bottom: 1px solid #fff;
            opacity: .5;
            transition: opacity .3s;
            text-decoration: none
        }

            .mylink a:hover {
                opacity: 1
            }

 thead{
        /*#6895d1
        background-color:#6a84cc;
        color: whitesmoke;
    }
tbody{
        background-color:#fcfcfc;
    }*/
