﻿@model HumanAID.Models.Roba

@{
    ViewBag.Title = "RobaForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Forma Robe</h2>
@using (Html.BeginForm("SacuvajRobu", "Roba"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Proizvod)
        @Html.TextBoxFor(m => m.Proizvod, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Proizvod)
    </div>
        <div class="form-group">
            @Html.LabelFor(m => m.PotrebnaKolicina)
            @Html.TextBoxFor(m => m.PotrebnaKolicina, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.PotrebnaKolicina)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.CenaProizvodaPoKomadu)
            @Html.TextBoxFor(m => m.CenaProizvodaPoKomadu, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.CenaProizvodaPoKomadu)
        </div>
        @Html.HiddenFor(m => m.PrikupljenaRoba)
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.DogadjajId)
        @Html.AntiForgeryToken();
    <button type="submit" class="btn btn-primary">Sačuvaj</button>
}


@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}