﻿
@model HumanAID.ViewModels.AktuelniDogadjajiViewModel
<link rel="stylesheet" href="~/Content/style.css">

<section class="p-5 aktuelni">
    <div data-spy="scroll" data-target="#nav" class="container-fluid">
        <div class="row text-center">
            <div class="col text-center py-5 pom">
                <h1 id="aktuelni" class="display-6 mb-4">Aktuelni dogadjaji</h1>
            </div>
        </div>
    </div>
    @if (Model.ListaAktuelnihDogadjaja==null)
    {
        <p>Ne postoje aktuelni dogadjaji na sajtu.</p>
    }
    else
    {
        <div class="row dogadjajiAktuelni">

            @foreach (var dogadjaj in Model.ListaAktuelnihDogadjaja)
            {

                <div class="col-lg-4  ">
                    <div class="card card-shadow">
                        <img src="@Url.Content("~/Content/images/")@dogadjaj.UrlSlike" class="card-img-top img-responsive">
                        <div class="card-body ">
                            <h4 class="card-title" style="position:center">@dogadjaj.NazivDogadjaja</h4>
                            <a href="/dogadjaj/prikazdogadjaja/@dogadjaj.Id" class="btn btn-primary">Vidi detalje</a>
                        </div>
                        <br />
                        <div class="card-footer">
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width:100%;">100%</div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</section>

@*if (Model.ListaAktuelnihDogadjaja.Equals(null))
    {
        <p>Ne postoje aktuelni dogadjaji na sajtu.</p>
    }
    else
    {
        <table id="adogadjaji" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Naziv dogadjaja</th>
                    <th>Datum odrzavanja</th>
                    <th>Mesto odrzavanja</th>
                    <th>Procenat ispunjenosti</th>
                    <th>Obrisi  dogadjaj</th>
                </tr>
            </thead>
            <tbody>
                @*{
                    int count = Model.ListaAktuelnihDogadjaja.Count();
                    int i = 0;
                    decimal show = 0;

                    foreach (var dogadjaj in Model.ListaAktuelnihDogadjaja)
                    {
                    <tr>
                        <td>@Html.ActionLink(dogadjaj.NazivDogadjaja, "Izmeni", "Dogadjaj", new { id = dogadjaj.Id }, null)</td>
                        <td>@dogadjaj.DatumPocetkaDogadjaja</td>
                        <td>@dogadjaj.MestoOdrzavanja</td>
                        ovo obavezno da se proveri jer za sada imamo samo jedan dogadjaj
                        <td>@{show=Model.ProcenatIspunjenosti[i] * 100;} @show% @{++i;}</td>
                        <td>
                            <button data-adogadjaj-id="@dogadjaj.Id" class="btn-link js-delete">Obrisi dogadjaj</button>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    }
    @*section scripts
    {
        sto si tice dogadjaja gde vezujemo onclick sada vezujemo za tabelu
            kasnije kada bude gotov frontend verovatno cemo da vezemo za neki div ili formu
        <script>
            $(document).ready(function () {
                var tabela = $("#adogadjaji").DataTable();
                $("#adogadjaji").on("click", ".js-delete", function () {
                    var button = $(this);
                    bootbox.confirm("Da li ste sigurni da zelite da obrisete dogadjaj?", function (result) {
                        if (result) {
                            $.ajax({
                                url: "/api/dogadjaji/" + button.attr("data-adogadjaj-id"),
                                method: "DELETE",
                                success: function () {
                                    tabela.row(button.parents("tr")).remove().draw();
                                }
                            });
                        }
                    });
                });
            });
        </script>
    }*@

