﻿@using Microsoft.AspNet.Identity;
@model HumanAID.Models.Dogadjaj
@{
    ViewBag.Title = "DogadjajForm2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    dogadjaj {
        margin-left: 40px;
    }
</style>

<h2 style="margin-left:60px;">Izmenite dogadjaj</h2>


<div class="row">
    <div class="col-md-5">
        <form id="formadogadjajaizmeni">
            <div id="dogadjaj" style="margin-left:60px;">
                <div class="form-group">
                    @Html.LabelFor(m => m.NazivDogadjaja)
                    @Html.TextBoxFor(m => m.NazivDogadjaja, new { @class = "form-control", @id = "naziv" })
                    @Html.ValidationMessageFor(m => m.NazivDogadjaja)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.DatumPocetkaDogadjaja)
                    @Html.TextBoxFor(m => m.DatumPocetkaDogadjaja, "{0:yyyy-MM-dd}", new { @class = "form-control", @id = "datumPocetka", @type = "date" })
                    @Html.ValidationMessageFor(m => m.DatumPocetkaDogadjaja)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.DatumKrajaDogadjaja)
                    @Html.TextBoxFor(m => m.DatumKrajaDogadjaja, "{0:yyyy-MM-dd}", new { @class = "form-control", @id = "datumKraja", @type = "date" })
                    @Html.ValidationMessageFor(m => m.DatumKrajaDogadjaja)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Faza)
                    @Html.EnumDropDownListFor(
x => x.Faza,
new { @class = "form-control", @id = "faza" })
                    @Html.ValidationMessageFor(m => m.Faza)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.MestoOdrzavanja)
                    @Html.TextBoxFor(m => m.MestoOdrzavanja, new { @class = "form-control", @id = "mesto" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ZiroRacun)
                    @Html.TextBoxFor(m => m.ZiroRacun, new { @class = "form-control", @id = "racun" })
                </div>

                <div class="form-group" id="=potrebni">
                    @Html.LabelFor(m => m.BrojPotrebnihVolontera)
                    @Html.TextBoxFor(m => m.BrojPotrebnihVolontera, new { @class = "form-control", @id = "brojPotrebnihVolontera" })
                </div>


                <div class="form-group">
                    @Html.LabelFor(m => m.Opis)
                    @Html.TextAreaFor(m => m.Opis, new { @class = "form-control", @id = "opis" })
                    @Html.ValidationMessageFor(m => m.Opis)
                </div>

                <div id="ostalo1" style="visibility:hidden; display:none">
                    @Html.HiddenFor(m => m.Id, new { @id = "id" })
                    @Html.HiddenFor(m => m.UrlSlike, new { @id = "slika" })
                    @Html.HiddenFor(m => m.IdKaOrganizaciji, new { @id = "idOrg" })
                    @Html.HiddenFor(m => m.DatumPostavljanja, new { @id = "datumPostavljanja" })
                    @Html.HiddenFor(m => m.BrojTrenutnihVolontera, new { @id = "brojTrenutnihVolontera" })
                    @Html.HiddenFor(m => m.IdPotrebnogNovca, new { @id = "idNovca" })

                </div>

                <div id="divput">
                    <button id="dogadjajput" class="btn btn-default">Izmeni</button>
                    @Html.AntiForgeryToken()
                </div>

            </div>
        </form>

    </div>
    <div class="col-md-3">
        <img src="~/Content/images/logo.jpg" style="width:350px; height:550px;margin-right:100%;margin-left:0%" />
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/jquery.validate.js")
    @Scripts.Render("~/Scripts/jquery.validate.min.js")
    @Scripts.Render("~/Scripts/jquery.validate.unobtrusive.js")


    <script>
        var idOrganizacije = "@User.Identity.GetUserId()";
        console.log(idOrganizacije);

        $("#formadogadjajaizmeni").submit(function (e) {
            e.preventDefault();

            $.ajax({
                contentType: 'application/json',
                type: "PUT",
                url: "/api/dogadjaji/"+@Model.Id,
                data: JSON.stringify({
                    id: $("#dogadjaj").find("#id").val(),
                    nazivDogadjaja: $("#dogadjaj").find("#naziv").val(),
                    mestoOdrzavanja: $("#dogadjaj").find("#mesto").val(),
                    datumPocetkaDogadjaja: $("#dogadjaj").find("#datumPocetka").val(),
                    datumKrajaDogadjaja: $("#dogadjaj").find("#datumKraja").val(),
                    brojPotrebnihVolontera: $("#dogadjaj").find("#brojPotrebnihVolontera").val(),
                    brojTrenutnihVolontera: $("#dogadjaj").find("#brojTrenutnihVolontera").val(),
                    ziroRacun: $("#dogadjaj").find("#racun").val(),
                    opis: $("#dogadjaj").find("#opis").val(),
                    faza: $("#dogadjaj").find("#faza").val(),
                    idKaOrganizaciji: idOrganizacije,
                    idPotrebnogNovca: $("#dogadjaj").find("#idNovca").val(),
                    datumPostavljanja: $("#dogadjaj").find("#datumPostavljanja").val(),
                    urlSlike: $("#dogadjaj").find("#slika").val()
                }),
                success: function (data, textStatus, jqXHR) {
                    console.log("Uspeli smo da izmenimo dogadjaj");
                    console.log(data.id);
                    console.log(textStatus);
                    console.log(jqXHR);
                    window.location.href = "/dogadjaj/prikazdogadjaja/" + @Model.Id;
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log("Nismo uspeli da izmenimo")
                }
            });
        });
    </script>
}
