﻿
@model HumanAID.ViewModels.DogadjajiUPripremiViewModel
<link rel="stylesheet" href="~/Content/style.css">

<section class="p-5 predstojeci">
    <div data-spy="scroll" data-target="#nav" class="container-fluid">
        <br>
        <div class="row text-center">
            <div class="col text-center py-5">
                <h1 id="predstojeci" class="display-6 mb-4">Dogadjaji u pripremi</h1>
            </div>
        </div>
    </div>


    <div class="row dogadjajiUPripremi">

        @{
            int count = Model.ListaDogadjajaUPripremi.Count();
            int i = 0;
            decimal show = 0;

            foreach (var dogadjaj in Model.ListaDogadjajaUPripremi)
            {


                show = (Model.ProcenatIspunjenosti[i] * 100);
                <div class="col-lg-4  ">
                    <div class="card card-shadow">
                        <img src="@Url.Content("~/Content/images/")@dogadjaj.UrlSlike" class="card-img-top img-responsive">
                        <div class="card-body ">
                            <h4 class="card-title" @*style="margin-left:50%;*@>@dogadjaj.NazivDogadjaja</h4>
                            <a href="/dogadjaj/prikazdogadjaja/@dogadjaj.Id" class="btn btn-primary" @*style="margin-left:50%;"*@>Vidi detalje</a>
                        </div>
                        <br />
                        <div class="card-footer">

                            <div class="progress" style="height:30px">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="height:30px; color:black; font-size:20px; width:@show%;">
                                    @show% @{++i;}

                                </div>

                            </div>

                        </div>
                    </div>
                </div>
                                        }

        }
    </div>
</section>

@*if (Model.ListaDogadjajaUPripremi.Equals(null))
    {
        <p>Ne postoje dogadjaji u pripremi na sajtu.</p>
    }
    else
    {

        <h2>Id trenutno ulogovanog korisnika je: @Model.IdTrenutnogUsera</h2>
        <table id="updogadjaji" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Naziv dogadjaja</th>
                    <th>Datum odrzavanja</th>
                    <th>Mesto odrzavanja</th>
                    <th>Procenat ispunjenosti</th>
                    <th>Obrisi  dogadjaj</th>
                </tr>
            </thead>
            <tbody>
    @{
        int count = Model.ListaDogadjajaUPripremi.Count();
        int i = 0;
        decimal show = 0;

        foreach (var dogadjaj in Model.ListaDogadjajaUPripremi)
        {
            <tr>
                <td>@Html.ActionLink(dogadjaj.NazivDogadjaja, "Izmeni", "Dogadjaj", new { id = dogadjaj.Id }, null)</td>
                <td>@dogadjaj.DatumPocetkaDogadjaja</td>
                <td>@dogadjaj.MestoOdrzavanja</td>
                <td>@{show = Model.ProcenatIspunjenosti[i] * 100;} @show% @{++i;}</td>
                <td>
                    <button data-updogadjaj-id="@dogadjaj.Id" class="btn-link js-delete">Obrisi dogadjaj</button>
                </td>
            </tr>
                    }
    }
            </tbody>
        </table>
    }
    @section scripts
    {
        <script>
            $(document).ready(function () {
                var tabela = $("#updogadjaji").DataTable();
                $("#updogadjaji").on("click", ".js-delete", function () {
                    var button = $(this);
                    bootbox.confirm("Da li ste sigurni da zelite da obrisete dogadjaj?", function (result) {
                        if (result) {
                            $.ajax({
                                url: "/api/dogadjaji/" + button.attr("data-updogadjaj-id"),
                                method: "DELETE",
                                success: function () {
                                    tabela.row(button.parents("tr")).remove().draw();
                                }
                            });
                        }
                    });
                });
            });
        </script>
*@

