﻿@model HumanAID.Models.Dogadjaj

@{
    ViewBag.Title = "DogadjajForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Forma Događaja</h2>
@using (Html.BeginForm("SacuvajDogadjaj", "Dogadjaj"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.NazivDogadjaja)
        @Html.TextBoxFor(m => m.NazivDogadjaja, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.NazivDogadjaja)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.DatumPocetkaDogadjaja)
        @Html.TextBoxFor(m => m.DatumPocetkaDogadjaja, "{0:d MMM yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.DatumPocetkaDogadjaja)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.DatumKrajaDogadjaja)
        @Html.TextBoxFor(m => m.DatumKrajaDogadjaja, "{0:d MMM yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.DatumKrajaDogadjaja)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Faza)
        @Html.EnumDropDownListFor(
  x => x.Faza,
new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Faza)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.MestoOdrzavanja)
        @Html.TextBoxFor(m => m.MestoOdrzavanja, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ZiroRacun)
        @Html.TextBoxFor(m => m.ZiroRacun, new { @class = "form-control" })
    </div>

    <div class="form-group" id="=potrebni">
        @Html.LabelFor(m => m.BrojPotrebnihVolontera)
        @Html.TextBoxFor(m => m.BrojPotrebnihVolontera, new { @class = "form-control" })
    </div>

    //tesiramo ovo
    <form id="AddPicture" method="post" enctype="multipart/form-data" onsubmit="return AjaxPost(this)">
        <label>Dodajte sliku</label><br />
        <input type="file" id="UploadImage" name="UploadImage" class="form-control" /><br />
        <button class="btn btn-danger">Dodaj</button>
       
    </form>

    <div class="form-group">
        @Html.LabelFor(m => m.Opis)
        @Html.TextAreaFor(m => m.Opis, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Opis)
    </div>

    @*kada provalimo kako cemo da setujemo br trenutnih, mislim da ce to da bude preko jquery ili javascript
            kao querySelector na taj fazon samo treba da provalimo kako da saljemo get/Post i put zahteve preko ajaxa
        @if ( == null || Model.BrojPotrebnihVolontera == 0)
        {
            Model.BrojTrenutnihVolontera = null;
        }
        else
        {
            Model.BrojTrenutnihVolontera = 0;
        }*@

    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.IdKaOrganizaciji)
    @Html.HiddenFor(m => m.DatumPostavljanja)
    @Html.HiddenFor(m => m.BrojTrenutnihVolontera)
    @Html.AntiForgeryToken();
    <button type="submit" class="btn btn-primary">Sačuvaj</button>
}

<script>

function AjaxPost(formData)
    {
    var ajaxConfig = {
        type: "post",
        url: "/dogadjaj/novaslika",
        data: new FormData(formData),
        success: function (result) {
            alert(result + "Sve je kul");
            console.log("Uso sam");
            //neka ide sada ovamo
            window.location.href="/volonter/index"
        }
    }
    if($(formData).attr('enctype') == "multipart/form-data")
    {
        ajaxConfig["contentType"] = false;
        ajaxConfig["processData"] = false;
    }
    $.ajax(ajaxConfig);
    return false;

    }
                                    </script>