﻿@using Microsoft.AspNet.Identity;
@model HumanAID.ViewModels.PrikazDogadjajaViewModel

<h2 class="sansSerif" style="text-align:center"> @Model.Dogadjaj.NazivDogadjaja</h2>


@*<button id="dogadjajIzmeni" class="btn btn-primary" style="float:right; margin-right:5px">Izmeni događaj</button>*@
<div class="dugmici" style="margin-left:90%">

    <button id="dogadjajdelete" class="btn btn-primary">Obrisi dogadjaj</button>



<br />

    
    <a href="/dogadjaj/izmeni/@Model.Dogadjaj.Id" class="btn btn-primary">Izmeni dogadjaj</a>
</div>
<div class="row">
    <div>
        <img src="@Url.Content("~/Content/images/")@Model.Dogadjaj.UrlSlike" style="width:100%;height:600px">

    </div>

    <div class="divTable">
        <div class="divTableCell">
            <h4 class="sansSerif" style="color:#a1a3a3">
                Organizacija koja je kreirala događaj:
                @*@Html.ActionLink(Model.Organizacija.NazivOrganizacije, "Profilorganizacije", "Organizacija", new { id = Model.Organizacija.Id }, null)*@

            </h4>
        </div>
        <div class="divTableCell">
            <h4 class="sansSerif">
                @Html.ActionLink(Model.Organizacija.NazivOrganizacije, "PrikaziProfilOrganizacije", "HumanitarnaOrganizacija", new { id = Model.Organizacija.Id, vidljivost = true }, null)
            </h4>
        </div>
    </div>

    <div class="divTable">
        <div class="divTableCell">
            <h4 class="sansSerif" style="color:#a1a3a3">
                Mesto održavanja događaja:
            </h4>
        </div>
        <div class="divTableCell">
            <h4 class="sansSerif">
                @Model.Dogadjaj.MestoOdrzavanja
            </h4>
        </div>
    </div>

    <div class="divTable">
        <div class="divTableCell">
            <h4 class="sansSerif" style="color:#a1a3a3">
                Datum početka događaja:
            </h4>
        </div>
        <div class="divTableCell">
            <h4 class="sansSerif">
                @Model.Dogadjaj.DatumPocetkaDogadjaja.ToString("dd/MM/yyyy")
            </h4>
        </div>
    </div>

    <div class="divTable">
        <div class="divTableCell">
            <h4 class="sansSerif" style="color:#a1a3a3">
                Datum završetka događaja:

            </h4>
        </div>
        <div class="divTableCell">
            <h4 class="sansSerif">
                @Model.Dogadjaj.DatumKrajaDogadjaja.ToString("dd/MM/yyyy")
            </h4>
        </div>
    </div>

    <div class="divTable">
        <div class="divTableCell">
            <h4 class="sansSerif" style="color:#a1a3a3">
                Kratak opis:
            </h4>
        </div>
        <div class="divTableCell">
            <h4 class="sansSerif">
                @Model.Dogadjaj.Opis
            </h4>
        </div>
    </div>
</div>
    <br />

    <form action="/dogadjaj/novaslika" method="post" enctype="multipart/form-data">

        <label for="file">Filename:</label>
        <input type="file" name="file" id="file" />
        <input hidden="hidden" value="@Model.Dogadjaj.Id" name="id" id="id" />
        <input type="submit" />
    </form>

    <br />
    <br />
    @if (Model.ListaPotrebneRobe.Equals(null))
    {
        <p>Nema robe na dogadjaju</p>
    }
    else
    {
        @*mozemo ovde recimo ili negde da imamo testiranje da prikazuje
            samo potrebnu robu ili celokupnu robu sa tr i potrebnom kolicinom
            ili da se u frontendu odvoji negde posebno za one sto su skupljene
            i za one sto nedostaju*@

        @*//neka se za sada id zove potrebna roba ali videcemo vec kako cemo to da implementiramo*@


        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#dodajRobu" data-whatever="@Model.Dogadjaj.Id">Dodaj potrebnu robu</button>
        <table id="potrebnaRoba" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Naziv Proizvoda</th>
                    <th>Prikupljena kolicina proizvoda</th>
                    <th>Potrebna kolicina Proizvoda</th>
                    <th>Cena proizvoda po komadu</th>
                    @*ovde ce u zavisnosti od tipa korisnika da se menja
                        poslednja kolona ili obrisi ili ova*@
                    <th>Doniraj Robu</th>
                    <th>Obrisi proizvod</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var proizvod in Model.ListaPotrebneRobe)
                {
                    <tr>
                        <td>@Html.ActionLink(proizvod.Proizvod, "Izmeni", "Roba", new { id = proizvod.Id }, null)</td>
                        <td>@proizvod.PrikupljenaRoba</td>
                        <td>@proizvod.PotrebnaKolicina</td>
                        <td>@proizvod.CenaProizvodaPoKomadu</td>
                        <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#kupiRobu" data-whatever="@proizvod.Id" data-naziv="@proizvod.Proizvod">Kupljena roba novcanim sredstvima</button></td>
                        <td>
                            <button data-proizvod-id="@proizvod.Id" class="btn-link js-delete">Obrisi proizvod</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    }
    <div class="modal fade" id="kupiRobu" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="margin-right:100%" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Nova prikupljena roba</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group" style="visibility:hidden; display:none">
                            <label for="naziv-prikupljene" class="col-form-label">Naziv prikupljene robe</label>
                            <input type="text" class="form-control" id="naziv-prikupljene">
                        </div>
                        <div class="form-group">
                            <label for="prikupio" class="col-form-label">Robu je donirao:</label>
                            <input type="text" class="form-control" id="prikupio">
                        </div>

                        <div class="form-group">
                            <label for="kolicina" class="col-form-label">Kolicina:</label>
                            <input type="text" class="form-control" id="kolicina">
                        </div>
                        <div class="form-group">
                            <label for="tipDoniranja" class="col-form-label">Izaberite nacin na koji donirate robu</label>
                            <select class="form-control" id="tipDoniranja">
                                <option value="0">Prikupljenim novcem</option>
                                <option value="1">Robnim putem</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Odustani</button>
                    <button type="button" class="btn btn-primary" id="doniraj">Doniraj</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="dodajRobu" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="margin-right:100%" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Nova roba</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="naziv-proizvoda" class="col-form-label">Naziv proivoda</label>
                            <input type="text" class="form-control" id="naziv-proizvoda">
                        </div>
                        <div class="form-group" style="visibility:hidden; display:none">
                            <label for="trenutna-kolicina" class="col-form-label">Trenutna kolicina</label>
                            <input type="text" class="form-control" id="trenutna-kolicina">
                        </div>
                        <div class="form-group">
                            <label for="potrebna-kolicina" class="col-form-label">Potrebna kolicina</label>
                            <input type="text" class="form-control" id="potrebna-kolicina">
                        </div>
                        <div class="form-group" style="visibility:hidden; display:none">
                            <label for="novac" class="col-form-label">Id novca</label>
                            <input type="text" class="form-control" id="novac"> @Model.Dogadjaj.IdPotrebnogNovca
                        </div>
                        <div class="form-group">
                            <label for="cena" class="col-form-label">Cena proizvoda po komadu</label>
                            <input type="text" class="form-control" id="cena">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Odustani</button>
                    <button type="button" class="btn btn-primary" id="dodaj">Dodaj</button>
                </div>
            </div>
        </div>
    </div>


    @if (Model.ListaVolontira.Equals(null))
    {
        <p>Nema volontera na dogadjaju</p>
    }
    else
    {
        <table id="volonteri" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Ime</th>
                    <th>Prezime</th>
                    <th>Username</th>
                    <th>Kontakt</th>
                    <th>Ukoloni volontera sa dogadjaja</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var volontira in Model.ListaVolontira)
                {
                    <tr>
                        <td>@volontira.Volonter.Ime</td>
                        <td>@volontira.Volonter.Prezime</td>
                        <td>@Html.ActionLink(volontira.Volonter.UserName, "PrikaziProfilVolontera", "Volonter", new { id = volontira.Volonter.Id, vidljivost = false }, null)</td>
                        <td>
                            @volontira.Volonter.PhoneNumber
                        </td>
                        <td>
                            <button data-volonter-id="@volontira.Id" class="btn-link js-volonter">Ukloni</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }

    @if (Model.ListaDonira.Equals(null))
    {
        <p>Nema sponzora na dogadjaju</p>
    }
    else
    {
        <table id="sponzori" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Naziv</th>
                    <th>Delatnost</th>
                    <th>Username</th>
                    <th>Kontakt</th>
                    <th>Ukoloni sponzora sa dogadjaja</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var donira in Model.ListaDonira)
                {
                    <tr>
                        <td>@donira.Sponzor.Naziv</td>
                        <td>@donira.Sponzor.Delatnost</td>
                        <td>@Html.ActionLink(donira.Sponzor.UserName, "PrikaziProfilSponzora", "Sponzor", new { id = donira.Sponzor.Id, vidljivost = false }, null)</td>
                        <td>
                            @donira.Sponzor.PhoneNumber
                        </td>
                        <td>
                            <button data-sponzor-id="@donira.Id" class="btn-link js-sponzor">Ukloni</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }

    @section scripts
{
        <script>


        $('#kupiRobu').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget); // Button that triggered the modal
            var idPotrebneRobe = button.data('whatever');
            var naziv=button.data('naziv');
            console.log(idPotrebneRobe);
            console.log(naziv);
            // Extract info from data-* attributes
            // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
            // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
            var modal = $(this);

            $('#doniraj').click(function (e) {
                $.ajax({
                    contentType: 'application/json',
                    type: "POST",
                    url: "/api/prikupljenerobe",
                    data: JSON.stringify({
                        nazivPrikupljeneRobe: naziv,
                        doniranaTip: modal.find('.modal-body #tipDoniranja').val(),
                        prikupioRobu: modal.find('.modal-body #prikupio').val(),
                        kolicina: modal.find('.modal-body #kolicina').val(),
                        idPotrebneRobe: idPotrebneRobe,
                        idMogucegSponzora: null,
                        idDogadjaja: "@Model.Dogadjaj.Id"
                    }),
                    success: function (data, textStatus, jqXHR) {
                        console.log("Uspeli smo da doniramo robu");
                        window.location.href = "/dogadjaj/prikazdogadjaja/" + @Model.Dogadjaj.Id;
                        },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log("Nismo uspeli da doniramo robu.")
                    }
                });
            });
        })


        $('#dodajRobu').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget); // Button that triggered the modal
            var idPotrebneRobe = button.data('whatever');

            // Extract info from data-* attributes
            // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
            // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
            var modal = $(this);

            $('#dodaj').click(function (e) {
                $.ajax({
                    contentType: 'application/json',
                    type: "POST",
                    url: "/api/robe",
                    data: JSON.stringify({
                        dogadjajId: "@Model.Dogadjaj.Id",
                        proizvod: modal.find('.modal-body #naziv-proizvoda').val(),
                        prikupljenaRoba: 0,
                        potrebnaKolicina: modal.find('.modal-body #potrebna-kolicina').val(),
                        cenaProizvodaPoKomadu: modal.find('.modal-body #cena').val(),
                        idPotrebnogNovca: modal.find('.modal-body #novac').val()

                    }),
                    success: function (data, textStatus, jqXHR) {
                        console.log("Uspeli smo da dodamo dogadjaj");
                        console.log(data.id);
                        console.log(textStatus);
                        console.log(jqXHR);
                        window.location.href = "/dogadjaj/prikazdogadjaja/" + @Model.Dogadjaj.Id;
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log("Nismo uspeli da dodamo robu.")
                    }
                });
            });
        })

        $('#dogadjajdelete').click(function (e) {
            $.ajax({
                contentType: 'application/json',
                type: "DELETE",
                url: "/api/dogadjaji/"+ "@Model.Dogadjaj.Id",

                success: function (data, textStatus, jqXHR) {
                    console.log("Uspeli smo da obrisemo dogadjaj");
                    window.location.href = "/dogadjaj/aktuelni/"
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log("Nismo uspeli da obrisemo")
                }
            });
        });
        $('#dogadjajizmeni').click(function (e) {
            $.ajax({
                contentType: 'application/json',
                type: "PUT",
                url: "/api/dogadjaji/"+ "@Model.Dogadjaj.Id",

                success: function (data, textStatus, jqXHR) {
                    console.log("Uspeli smo da izmenimo dogadjaj");
                    window.location.href = "/dogadjaj/prikazdogadjaja/" + @Model.Dogadjaj.Id;
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log("Nismo uspeli da izmenimo")
                }
            });
        });




        $(document).ready(function () {
            var tabela = $("#potrebnaRoba").DataTable({

                language: {
                    "sProcessing": "Procesiranje u toku...",
                    "sLengthMenu": "Prikaži _MENU_ elemenata",
                    "sZeroRecords": "Nije pronađen nijedan rezultat",
                    "sInfo": "Prikaz _START_ do _END_ od ukupno _TOTAL_ elemenata",
                    "sInfoEmpty": "Prikaz 0 do 0 od ukupno 0 elemenata",
                    "sInfoFiltered": "(filtrirano od ukupno _MAX_ elemenata)",
                    "sInfoPostFix": "",
                    "sSearch": "Pretraga:",
                    "sUrl": "",
                    "oPaginate": {
                        "sFirst": "Početna",
                        "sPrevious": "Prethodna",
                        "sNext": "Sledeća",
                        "sLast": "Poslednja"
                    }
                }

            });
            $("#potrebnaRoba").on("click", ".js-delete", function () {
                var button = $(this);
                bootbox.confirm("Da li ste sigurni da želite da obrišete izabrani proizvod?", function (result) {
                    if(result)
                    {
                        $.ajax({
                            url: "/api/robe/" + button.attr("data-proizvod-id"),
                            method: "DELETE",
                            success: function () {
                                tabela.row(button.parents("tr")).remove().draw();
                                window.location.href = "/dogadjaj/prikazdogadjaja/" + @Model.Dogadjaj.Id;
                            }
                        });
                    }
                });

            });
        });


        $(document).ready(function () {
            var tabela = $("#volonteri").DataTable({

                language: {
                    "sProcessing": "Procesiranje u toku...",
                    "sLengthMenu": "Prikaži _MENU_ elemenata",
                    "sZeroRecords": "Nije pronađen nijedan rezultat",
                    "sInfo": "Prikaz _START_ do _END_ od ukupno _TOTAL_ elemenata",
                    "sInfoEmpty": "Prikaz 0 do 0 od ukupno 0 elemenata",
                    "sInfoFiltered": "(filtrirano od ukupno _MAX_ elemenata)",
                    "sInfoPostFix": "",
                    "sSearch": "Pretraga:",
                    "sUrl": "",
                    "oPaginate": {
                        "sFirst": "Početna",
                        "sPrevious": "Prethodna",
                        "sNext": "Sledeća",
                        "sLast": "Poslednja"
                    }
                }
            });
            $("#volonteri").on("click", ".js-volonter", function () {
                var button = $(this);
                bootbox.confirm("Da li ste sigurni da želite da uklonite volontera sa dogadjaja?", function (result) {
                    if(result)
                    {
                        $.ajax({
                            url: "/api/volontira/" + button.attr("data-volonter-id"),
                            method: "DELETE",
                            success: function () {
                                tabela.row(button.parents("tr")).remove().draw();
                                window.location.href = "/dogadjaj/prikazdogadjaja/" + @Model.Dogadjaj.Id;
                            }
                        });
                    }
                });

            });
        });

        $(document).ready(function () {
            var tabela = $("#sponzori").DataTable({

                language: {
                    "sProcessing": "Procesiranje u toku...",
                    "sLengthMenu": "Prikaži _MENU_ elemenata",
                    "sZeroRecords": "Nije pronađen nijedan rezultat",
                    "sInfo": "Prikaz _START_ do _END_ od ukupno _TOTAL_ elemenata",
                    "sInfoEmpty": "Prikaz 0 do 0 od ukupno 0 elemenata",
                    "sInfoFiltered": "(filtrirano od ukupno _MAX_ elemenata)",
                    "sInfoPostFix": "",
                    "sSearch": "Pretraga:",
                    "sUrl": "",
                    "oPaginate": {
                        "sFirst": "Početna",
                        "sPrevious": "Prethodna",
                        "sNext": "Sledeća",
                        "sLast": "Poslednja"
                    }
                }
            });
            $("#sponzori").on("click", ".js-sponzor", function () {
                var button = $(this);
                bootbox.confirm("Da li ste sigurni da želite da uklonite sponzora sa dogadjaja?", function (result) {
                    if(result)
                    {
                        $.ajax({
                            url: "/api/donira/" + button.attr("data-sponzor-id"),
                            method: "DELETE",
                            success: function () {
                                tabela.row(button.parents("tr")).remove().draw();
                                window.location.href = "/dogadjaj/prikazdogadjaja/" + @Model.Dogadjaj.Id;
                            }
                        });
                    }
                });

            });
        });


        </script>
    }
    <style>
        h2.sansSerif {
            color: black;
            text-align: center;
            font: 50px Tahoma, Geneva, sans-serif;
        }


        h4.sansSerif {
            font: 25px Tahoma, Geneva, sans-serif;
            text-align: center;
            color: black;
        }

        .divTable {
            display: table;
            border-spacing: 10px;
            border-collapse: separate;
            /*width: 100%;*/
        }

        .divTableCell {
            display: table-cell;
        }

        * {
            box-sizing: border-box;
        }

        body {
            margin: 0;
            background-color: whitesmoke;
            color: black;
            font-family: Calibri, sans-serif;
        }

        .siva {
            color: #a1a3a3;
        }


        thead {
            background-color: #6a84cc;
            color: whitesmoke;
        }

        tbody {
            background-color: #fcfcfc;
        }
    </style>
