﻿@using Microsoft.AspNet.Identity;
@model HumanAID.ViewModels.PrikazDogadjajaViewModel


<h2 class="sansSerif" style="text-align:center"> @Model.Dogadjaj.NazivDogadjaja</h2>
<br />
<div>
    <img src="@Url.Content("~/Content/images/")@Model.Dogadjaj.UrlSlike" style="width:100%;height:600px">

</div>
<div>


    <div class="divTable">
        <div class="divTableCell">
            <h4 class="sansSerif" style="color:#a1a3a3">
                Organizacija koja je kreirala događaj:
                @*@Html.ActionLink(Model.Organizacija.NazivOrganizacije, "Profilorganizacije", "Organizacija", new { id = Model.Organizacija.Id }, null)*@

            </h4>
        </div>
        <div class="divTableCell">
            <h4 class="sansSerif">
                @Html.ActionLink(Model.Organizacija.NazivOrganizacije,"PrikaziProfilOrganizacije","HumanitarnaOrganizacija", new { id = Model.Organizacija.Id, vidljivost=false }, null)
            </h4>
        </div>
    </div>

    <div class="divTable">
        <div class="divTableCell">
            <h4 class="sansSerif" style="color:#a1a3a3">
                Mesto održavanja događaja:
            </h4>
        </div>
        <div class="divTableCell">
            <h4 class="sansSerif">
                @Model.Dogadjaj.MestoOdrzavanja
            </h4>
        </div>
    </div>

    <div class="divTable">
        <div class="divTableCell">
            <h4 class="sansSerif" style="color:#a1a3a3">
                Datum početka događaja:
            </h4>
        </div>
        <div class="divTableCell">
            <h4 class="sansSerif">
                @Model.Dogadjaj.DatumPocetkaDogadjaja.ToString("dd/MM/yyyy")
            </h4>
        </div>
    </div>

    <div class="divTable">
        <div class="divTableCell">
            <h4 class="sansSerif" style="color:#a1a3a3">
                Datum završetka događaja:

            </h4>
        </div>
        <div class="divTableCell">
            <h4 class="sansSerif">
                @Model.Dogadjaj.DatumKrajaDogadjaja.ToString("dd/MM/yyyy")
            </h4>
        </div>
    </div>

    <div class="divTable">
        <div class="divTableCell">
            <h4 class="sansSerif" style="color:#a1a3a3">
                Kratak opis:
            </h4>
        </div>
        <div class="divTableCell">
            <h4 class="sansSerif">
                @Model.Dogadjaj.Opis
            </h4>
        </div>
    </div>



</div>
@*@{
    decimal show = 0;
    show = Model.ProcenatIspunjenosti * 100;
    <div>

        <h4 class="sansSerif">Progres:</h4>
        <div class="card-footer" style="background-color:whitesmoke">
            <div class="progress" style="height:30px">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="height:30px; color:black; font-size:20px; width:@show%;">
                    @show%

                </div>

            </div>
        </div>
    </div>
    <br />
}*@
@*@{
    decimal show = 0;
    show = Model.ProcenatIspunjenosti * 100;
    <div>

        <h4 class="sansSerif">Trenutno prikupljenih sredstava za odrzavanje dogadjaja:</h4>
        <div class="card-footer" style="background-color:whitesmoke">
            <div class="progress" style="height:30px">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="height:30px; color:black; font-size:20px; width:@show%;">
                    @show%

                </div>

            </div>
        </div>
    </div>
    <br />
}*@
<br />








<!--Mogu da ispravim da ne bude ovde-->
@if (Model.IdVolontira != 0)
{
    <div>
        <br />
        <!--<h1>Dugme na koje klikom obrisi volonterstvo brise torku iz relacije volontira</h1>-->
        <button id="volontiradelete" class="btn btn-primary">Prekini sa volontiranjem</button>

        <br />
        <br />
    </div>

}
else if (Model.Dogadjaj.BrojPotrebnihVolontera == Model.Dogadjaj.BrojTrenutnihVolontera)
{
    //ovde ne stoji nista
    //ako gore stavimo != kod iz else grane mozemo da stavimo ovde
}
else
{
    <br />
    <div>
        <!--<h1>Dugme na koje klikom postani volonter upisuje u bazu</h1>-->
        <button id="volontirapost" class="btn btn-primary">Postani volonter</button>
    </div>
    <br />
    <br />

}


@if (Model.ListaPotrebneRobe.Equals(null))
{
    <p>Nema robe na dogadjaju</p>
}
else
{
    @*mozemo ovde recimo ili negde da imamo testiranje da prikazuje
        samo potrebnu robu ili celokupnu robu sa tr i potrebnom kolicinom
        ili da se u frontendu odvoji negde posebno za one sto su skupljene
        i za one sto nedostaju*@

    @*//neka se za sada id zove potrebna roba ali videcemo vec kako cemo to da implementiramo*@


    <table id="potrebnaRoba" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Naziv Proizvoda</th>
                <th>Prikupljena kolicina proizvoda</th>
                <th>Potrebna kolicina Proizvoda</th>
                <th>Cena proizvoda po komadu</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var proizvod in Model.ListaPotrebneRobe)
            {
                <tr>
                    @* <td>@Html.ActionLink(proizvod.Proizvod, "Izmeni", "Roba", new { id = proizvod.Id }, null)</td>*@
                     <td>@proizvod.Proizvod</td> 
                    <td>@proizvod.PrikupljenaRoba</td>
                    <td>@proizvod.PotrebnaKolicina</td>
                    <td>@proizvod.CenaProizvodaPoKomadu</td>
                </tr>
            }
        </tbody>
    </table>


}
<!--Vratiti se-->
@if (Model.ListaVolontira.Equals(null))
{
    <p>Nema volontera na dogadjaju</p>
}
else
{
    <table id="volonteriDogadjaja" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Ime volontera</th>
                <th>Prezime</th>
                <th>Kontakt</th>
                <th>Email</th>
                <th>Adresa</th>
                <th>Grad</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var volonter in Model.ListaVolontira)
            {
                bool vidljiv = false;
                var userId = User.Identity.GetUserId();
                if (userId != null)
                {

                    if (userId == volonter.Volonter.Id)
                    {
                        vidljiv = true;
                    }
                    else
                    {
                        vidljiv = false;
                    }
                }

                <tr>
                    <td>@Html.ActionLink(volonter.Volonter.Ime, "PrikaziProfilVolontera", "Volonter", new { id = volonter.Volonter.Id, vidljivost=vidljiv }, null)</td>
                    <td>@volonter.Volonter.Prezime</td>
                    <td>@volonter.Volonter.PhoneNumber</td>
                    <td>@volonter.Volonter.Email</td>
                    <td>@volonter.Volonter.Adresa</td>
                    <td>@volonter.Volonter.Grad</td>

                </tr>
            }
        </tbody>
    </table>
}

@if (Model.ListaDonira.Equals(null))
{
    <p>Nema sponzora na dogadjaju</p>
}
else
{
    <table id="sponzoriDogadjaja" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Naziv sponzora</th>
                <th>Kontakt</th>
                <th>Email</th>
                <th>Delatnost</th>
                <th>Adresa</th>
                <th>Grad</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var sponzor in Model.ListaDonira)
            { 

                <tr>
                    <td>@Html.ActionLink(sponzor.Sponzor.Naziv, "PrikaziProfilSponzora", "Sponzor", new { id = sponzor.Sponzor.Id, vidljivost=false }, null)</td>
                    <td>@sponzor.Sponzor.PhoneNumber</td>
                    <td>@sponzor.Sponzor.Email</td>
                    <td>@sponzor.Sponzor.Delatnost</td>
                    <td>@sponzor.Sponzor.Adresa</td>
                    <td>@sponzor.Sponzor.Grad</td>


                </tr>
            }
        </tbody>
    </table>
}
<label>@Model.Dogadjaj.MestoOdrzavanja</label>
<div class="mapouter" style="height:100%; width:100%">
    <div class="gmap_canvas"><iframe height="500" id="gmap_canvas" onload="this.width=screen.width" src="https://maps.google.com/maps?q=Srbija%2C%20+@Model.Dogadjaj.MestoOdrzavanja+&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.pureblack.de"></a></div>
    <style>
        .mapouter {
            position: relative;
            text-align: right;
            height: 500px;
            width: 100%;
        }

        .gmap_canvas {
            overflow: hidden;
            background: none !important;
            height: 500px;
            width: 100%;
        }
    </style>
</div>


@section scripts
{
    <script>

        $('#volontirapost').click(function (e) {
            $.ajax({
                contentType: 'application/json',
                type: "POST",
                url: "/api/volontira",
                data: JSON.stringify({
                    idVolontera: "@Model.IdTrenutnogUlogovanogKorisnika",
                    idDogadjaja: "@Model.Dogadjaj.Id.ToString()"
                }),
                success: function (data, textStatus, jqXHR) {
                    console.log("Uspeli smo da dodamo u volontira");
                    window.location.href = "/dogadjaj/prikazdogadjaja/"+@Model.Dogadjaj.Id;
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log("Nismo uspeli da dodamo")
                }
            });
        });

        $('#volontiradelete').click(function (e) {
            $.ajax({
                contentType: 'application/json',
                type: "DELETE",
                url: "/api/volontira/"+ "@Model.IdVolontira",

                success: function (data, textStatus, jqXHR) {
                    console.log("Uspeli smo da obrisemo u volontira");
                    window.location.href = "/dogadjaj/prikazdogadjaja/"+@Model.Dogadjaj.Id;
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log("Nismo uspeli da obrisemo")
                }
            });
        });

        $(document).ready(function () {
            var tabela = $("#potrebnaRoba").DataTable({
                language: {
                    "sProcessing": "Procesiranje u toku...",
                    "sLengthMenu": "Prikaži _MENU_ elemenata",
                    "sZeroRecords": "Nije pronađen nijedan rezultat",
                    "sInfo": "Prikaz _START_ do _END_ od ukupno _TOTAL_ elemenata",
                    "sInfoEmpty": "Prikaz 0 do 0 od ukupno 0 elemenata",
                    "sInfoFiltered": "(filtrirano od ukupno _MAX_ elemenata)",
                    "sInfoPostFix": "",
                    "sSearch": "Pretraga:",
                    "sUrl": "",
                    "oPaginate": {
                        "sFirst": "Početna",
                        "sPrevious": "Prethodna",
                        "sNext": "Sledeća",
                        "sLast": "Poslednja"
                    }
                }
            });

        });

        //Vratiti se opet na ove dve tabele, url:"/api/robe"!!!
        $(document).ready(function () {
            var tabela = $("#sponzoriDogadjaja").DataTable({
                language: {
                    "sProcessing": "Procesiranje u toku...",
                    "sLengthMenu": "Prikaži _MENU_ elemenata",
                    "sZeroRecords": "Nije pronađen nijedan rezultat",
                    "sInfo": "Prikaz _START_ do _END_ od ukupno _TOTAL_ elemenata",
                    "sInfoEmpty": "Prikaz 0 do 0 od ukupno 0 elemenata",
                    "sInfoFiltered": "(filtrirano od ukupno _MAX_ elemenata)",
                    "sInfoPostFix": "",
                    "sSearch": "Pretraga:",
                    "sUrl": "",
                    "oPaginate": {
                        "sFirst": "Početna",
                        "sPrevious": "Prethodna",
                        "sNext": "Sledeća",
                        "sLast": "Poslednja"
                    }
                }
            });

        });

        $(document).ready(function () {
            var tabela = $("#volonteriDogadjaja").DataTable({
                language: {
                    "sProcessing": "Procesiranje u toku...",
                    "sLengthMenu": "Prikaži _MENU_ elemenata",
                    "sZeroRecords": "Nije pronađen nijedan rezultat",
                    "sInfo": "Prikaz _START_ do _END_ od ukupno _TOTAL_ elemenata",
                    "sInfoEmpty": "Prikaz 0 do 0 od ukupno 0 elemenata",
                    "sInfoFiltered": "(filtrirano od ukupno _MAX_ elemenata)",
                    "sInfoPostFix": "",
                    "sSearch": "Pretraga:",
                    "sUrl": "",
                    "oPaginate": {
                        "sFirst": "Početna",
                        "sPrevious": "Prethodna",
                        "sNext": "Sledeća",
                        "sLast": "Poslednja"
                    }
                }
            });


        });

    </script>
}


<style>
    h2.sansSerif {
        color: black;
        text-align: center;
        font: 50px Tahoma, Geneva, sans-serif;
    }


    h4.sansSerif {
        font: 25px Tahoma, Geneva, sans-serif;
        text-align: center;
        color: black;
    }

    .divTable {
        display: table;
        border-spacing: 10px;
        border-collapse: separate;
        /*width: 100%;*/
    }

    .divTableCell {
        display: table-cell;
    }

    * {
        box-sizing: border-box;
    }

    body {
        margin: 0;
        background-color: whitesmoke;
        color: black;
        font-family: Calibri, sans-serif;
    }


    thead {
        background-color: #6a84cc;
        color: whitesmoke;
    }

    tbody {
        background-color: #fcfcfc;
    }
</style>