﻿@using Microsoft.AspNet.Identity;
@model HumanAID.ViewModels.PrikazDogadjajaViewModel

}
<h1>Ovo je nas dogadjaj: @Model.Dogadjaj.NazivDogadjaja </h1>

<h2>
    Ovo je nasa organizacija koja je napravila dogadjaj : @Model.Organizacija.NazivOrganizacije
</h2>

@if (Model.ListaVolontera.Equals(null))
{
    <p>Nema volontera na dogadjaju</p>
}
else
{
    <ul>
        Ovo su volonteri:  @foreach (var volonter in Model.ListaVolontera)
        {
            <li>@volonter.Ime</li>
        }
    </ul>
}

@if (Model.ListaSponzora.Equals(null))
{
    <p>Nema sponzora na dogadjaju</p>
}
else
{
    <ul>
        Ovo su sponzori:  @foreach (var sponzor in Model.ListaSponzora)
        {
            <li>
                @sponzor.Naziv
            </li>
        }
    </ul>
}

<h2>Ispisujemo Id trenutno ulogovanog korisnika(volontera koji ne volontira na ovom dogadjaju) @Model.IdTrenutnogUlogovanogKorisnika</h2>

<div>
    <h1>Dugme na koje klikom postani volonter upisuje u bazu</h1>
    <button id="volontirapost" class="btn btn-primary">Postani volonter</button>
</div>
<hr>
<div>
    <h1>Dugme za brisanje dogadjaja</h1>
    <button id="dogadjajdelete" class="btn btn-primary">Obrisi dogadjaj</button>
</div>


<div>
    <h1>Dugme na koje klikom obrisi volonterstvo brise torku iz relacije volontira</h1>
    <button id="volontiradelete" class="btn btn-primary">Prekini sa volontiranjem</button>

    <br />
    <br />
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#donirajNovac" data-whatever="@Model.Dogadjaj.IdPotrebnogNovca">Doniraj novac</button>

</div>

@if (Model.ListaPotrebneRobe.Equals(null))
{
    <p>Nema robe na dogadjaju</p>
}
else
{
    @*mozemo ovde recimo ili negde da imamo testiranje da prikazuje
        samo potrebnu robu ili celokupnu robu sa tr i potrebnom kolicinom
        ili da se u frontendu odvoji negde posebno za one sto su skupljene
        i za one sto nedostaju*@

    @*//neka se za sada id zove potrebna roba ali videcemo vec kako cemo to da implementiramo*@


    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#dodajRobu" data-whatever="@Model.Dogadjaj.Id">Dodaj potrebnu robu</button>
    <table id="potrebnaRoba" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Naziv Proizvoda</th>
                <th>Prikupljena kolicina proizvoda</th>
                <th>Potrebna kolicina Proizvoda</th>
                <th>Cena proizvoda po komadu</th>
                @*ovde ce u zavisnosti od tipa korisnika da se menja
                    poslednja kolona ili obrisi ili ova*@
                <th>Doniraj Robu</th>
                <th>Obrisi proizvod</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var proizvod in Model.ListaPotrebneRobe)
            {
                <tr>
                    <td>@Html.ActionLink(proizvod.Proizvod, "Izmeni", "Roba", new { id = proizvod.Id }, null)</td>
                    <td>@proizvod.PrikupljenaRoba</td>
                    <td>@proizvod.PotrebnaKolicina</td>
                    <td>@proizvod.CenaProizvodaPoKomadu</td>
                    <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#kupiRobu" data-whatever="@proizvod.Id" data-naziv="@proizvod.Proizvod">Kupljena roba novcanim sredstvima</button></td>
                    <td>
                        <button data-proizvod-id="@proizvod.Id" class="btn-link js-delete">Obrisi proizvod</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>



    <div class="modal fade" id="donirajNovac" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Doniranje novca</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="naziv-sponzora" class="col-form-label">Naziv Vase kompanije</label>
                            <input type="text" class="form-control" id="naziv-sponzora">
                        </div>
                        <div class="form-group">
                            <label for="kolicinaNovca" class="col-form-label">Kolicina novca koji zelite da donirate:</label>
                            <input type="text" class="form-control" id="kolicinaNovca">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Odustani</button>
                    <button type="button" class="btn btn-primary" id="doniraj-novac">Doniraj</button>
                </div>
            </div>
        </div>
    </div>






    <div class="modal fade" id="kupiRobu" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Nova prikupljena roba</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group" style="visibility:hidden; display:none">
                            <label for="naziv-prikupljene" class="col-form-label">Naziv prikupljene robe</label>
                            <input type="text" class="form-control" id="naziv-prikupljene">
                        </div>
                        <div class="form-group">
                            <label for="prikupio" class="col-form-label">Robu je donirao:</label>
                            <input type="text" class="form-control" id="prikupio">
                        </div>

                        <div class="form-group">
                            <label for="kolicina" class="col-form-label">Kolicina:</label>
                            <input type="text" class="form-control" id="kolicina">
                        </div>
                        <div class="form-group">
                            <label for="tipDoniranja" class="col-form-label">Izaberite nacin na koji donirate robu</label>
                            <select class="form-control" id="tipDoniranja">
                                <option value="0">Prikupljenim novcem</option>
                                <option value="1">Robnim putem</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Odustani</button>
                    <button type="button" class="btn btn-primary" id="doniraj">Doniraj</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="dodajRobu" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Nova roba</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="naziv-proizvoda" class="col-form-label">Naziv proivoda</label>
                            <input type="text" class="form-control" id="naziv-proizvoda">
                        </div>
                        <div class="form-group" style="visibility:hidden; display:none">
                            <label for="trenutna-kolicina" class="col-form-label">Trenutna kolicina</label>
                            <input type="text" class="form-control" id="trenutna-kolicina">
                        </div>
                        <div class="form-group">
                            <label for="potrebna-kolicina" class="col-form-label">Potrebna kolicina</label>
                            <input type="text" class="form-control" id="potrebna-kolicina">
                        </div>
                        <div class="form-group" style="visibility:hidden; display:none">
                            <label for="novac" class="col-form-label">Id novca</label>
                            <input type="text" class="form-control" id="novac"> @Model.Dogadjaj.IdPotrebnogNovca
                        </div>
                        <div class="form-group">
                            <label for="cena" class="col-form-label">Cena proizvoda po komadu</label>
                            <input type="text" class="form-control" id="cena">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Odustani</button>
                    <button type="button" class="btn btn-primary" id="dodaj">Dodaj</button>
                </div>
            </div>
        </div>
    </div>


}

@section scripts
{
    <script>


        $('#donirajNovac').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget); // Button that triggered the modal
            var idPotrebnognovca = button.data('whatever');
            var idsponzora = "@User.Identity.GetUserId()";

            // Extract info from data-* attributes
            // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
            // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
            var modal = $(this);

            $('#doniraj-novac').click(function (e) {
                $.ajax({
                    contentType: 'application/json',
                    type: "POST",
                    url: "/api/novcanedonacije",
                    data: JSON.stringify({
                        idSponzora: idsponzora,
                        idDogadjaja: "@Model.Dogadjaj.Id",
                        idPotrebnogNovca: idPotrebnognovca,
                        nazivSponzora:modal.find('.modal-body #naziv-sponzora').val(), 
                        kolicinaNovca: modal.find('.modal-body #kolicinaNovca').val()
                    }),
                    success: function (data, textStatus, jqXHR) {
                        //verovatno ce ovde da ide taj bootbox gde ce da prikaze tipa uplatnicu i tako to 
                        console.log("Uspeli smo da doniramo novac");
                        window.location.href = "/dogadjaj/prikazdogadjaja/" + @Model.Dogadjaj.Id;
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log("Nismo uspeli da doniramo robu.")
                    }
                });
            });
        })









        $('#kupiRobu').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget); // Button that triggered the modal
            var idPotrebneRobe = button.data('whatever');
            var naziv=button.data('naziv');
            console.log(idPotrebneRobe);
            console.log(naziv);
            // Extract info from data-* attributes
            // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
            // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
            var modal = $(this);

            $('#doniraj').click(function (e) {
                $.ajax({
                    contentType: 'application/json',
                    type: "POST",
                    url: "/api/prikupljenerobe",
                    data: JSON.stringify({
                        nazivPrikupljeneRobe: naziv,
                        doniranaTip: modal.find('.modal-body #tipDoniranja').val(),
                        prikupioRobu: modal.find('.modal-body #prikupio').val(),
                        kolicina: modal.find('.modal-body #kolicina').val(),
                        idPotrebneRobe: idPotrebneRobe,
                        idMogucegSponzora: null,
                        idDogadjaja: "@Model.Dogadjaj.Id"
                    }),
                    success: function (data, textStatus, jqXHR) {
                        console.log("Uspeli smo da doniramo robu");
                        window.location.href = "/dogadjaj/prikazdogadjaja/" + @Model.Dogadjaj.Id;
                        },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log("Nismo uspeli da doniramo robu.")
                    }
                });
            });
        })













        $('#dodajRobu').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget); // Button that triggered the modal
            var idPotrebneRobe = button.data('whatever');

            // Extract info from data-* attributes
            // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
            // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
            var modal = $(this);

            $('#dodaj').click(function (e) {
                $.ajax({
                    contentType: 'application/json',
                    type: "POST",
                    url: "/api/robe",
                    data: JSON.stringify({
                        dogadjajId: idDogadjaja,
                        proizvod: modal.find('.modal-body #naziv-proizvoda').val(),
                        prikupljenaRoba: 0,
                        potrebnaKolicina: modal.find('.modal-body #potrebna-kolicina').val(),
                        cenaProizvodaPoKomadu: modal.find('.modal-body #cena').val(),
                        idPotrebnogNovca: modal.find('.modal-body #novac').val()

                    }),
                    success: function (data, textStatus, jqXHR) {
                        console.log("Uspeli smo da dodamo dogadjaj");
                        console.log(data.id);
                        console.log(textStatus);
                        console.log(jqXHR);
                        window.location.href = "/dogadjaj/prikazdogadjaja/" + idDogadjaja;
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log("Nismo uspeli da dodamo robu.")
                    }
                });
            });
        })




        $('#volontirapost').click(function (e) {
            $.ajax({
                contentType: 'application/json',
                type: "POST",
                url: "/api/volontira",
                data: JSON.stringify({
                    idVolontera: "@Model.IdTrenutnogUlogovanogKorisnika",
                    idDogadjaja: "@Model.Dogadjaj.Id.ToString()"
                }),
                success: function (data, textStatus, jqXHR) {
                    console.log("Uspeli smo da dodamo u volontira");
                    window.location.href = "/dogadjaj/prikazdogadjaja/"+@Model.Dogadjaj.Id;
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log("Nismo uspeli da dodamo")
                }
            });
        });

        $('#volontiradelete').click(function (e) {
            $.ajax({
                contentType: 'application/json',
                type: "DELETE",
                url: "/api/volontira/"+ "@Model.IdVolontira",

                success: function (data, textStatus, jqXHR) {
                    console.log("Uspeli smo da obrisemo u volontira");
                    window.location.href = "/dogadjaj/prikazdogadjaja/"+@Model.Dogadjaj.Id;
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log("Nismo uspeli da obrisemo")
                }
            });
        });



        $('#dogadjajdelete').click(function (e) {
            $.ajax({
                contentType: 'application/json',
                type: "DELETE",
                url: "/api/dogadjaji/"+ "@Model.Dogadjaj.Id",

                success: function (data, textStatus, jqXHR) {
                    console.log("Uspeli smo da obrisemo dogadjaj");
                    window.location.href = "/dogadjaj/aktuelni/"
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log("Nismo uspeli da obrisemo")
                }
            });
        });




        $(document).ready(function () {
            var tabela = $("#potrebnaRoba").DataTable();
            $("#potrebnaRoba").on("click", ".js-delete", function () {
                var button = $(this);
                bootbox.confirm("Da li ste sigurni da želite da obrišete izabrani proizvod?", function (result) {
                    if(result)
                    {
                        $.ajax({
                            url: "/api/robe/" + button.attr("data-proizvod-id"),
                            method: "DELETE",
                            success: function () {
                                tabela.row(button.parents("tr")).remove().draw();
                            }
                        });
                    }
                });

            });
        });



    </script>
}
