﻿@using Microsoft.AspNet.Identity;
@model HumanAID.ViewModels.PrikazDogadjajaViewModel



<h2 class="sansSerif" style="text-align:center"> @Model.Dogadjaj.NazivDogadjaja</h2>
<br />
<div>
    <img src="@Url.Content("~/Content/images/")@Model.Dogadjaj.UrlSlike" style="width:100%;height:600px">

</div>
<div>

    <div class="divTable">
        <div class="divTableCell">
            <h4 class="sansSerif" style="color:#a1a3a3">
                Organizacija koja je kreirala događaj:
                @*@Html.ActionLink(Model.Organizacija.NazivOrganizacije, "Profilorganizacije", "Organizacija", new { id = Model.Organizacija.Id }, null)*@

            </h4>
        </div>
        <div class="divTableCell">
            <h4 class="sansSerif">
                @Html.ActionLink(Model.Organizacija.NazivOrganizacije, "PrikaziProfilOrganizacije", "HumanitarnaOrganizacija", new { id = Model.Organizacija.Id, vidljivost = false }, null)
            </h4>
        </div>
    </div>

    <div class="divTable">
        <div class="divTableCell">
            <h4 class="sansSerif" style="color:#a1a3a3">
                Mesto održavanja događaja:
            </h4>
        </div>
        <div class="divTableCell">
            <h4 class="sansSerif">
                @Model.Dogadjaj.MestoOdrzavanja
            </h4>
        </div>
    </div>

    <div class="divTable">
        <div class="divTableCell">
            <h4 class="sansSerif" style="color:#a1a3a3">
                Datum početka događaja:
            </h4>
        </div>
        <div class="divTableCell">
            <h4 class="sansSerif">
                @Model.Dogadjaj.DatumPocetkaDogadjaja.ToString("dd/MM/yyyy")
            </h4>
        </div>
    </div>

    <div class="divTable">
        <div class="divTableCell">
            <h4 class="sansSerif" style="color:#a1a3a3">
                Datum završetka događaja:

            </h4>
        </div>
        <div class="divTableCell">
            <h4 class="sansSerif">
                @Model.Dogadjaj.DatumKrajaDogadjaja.ToString("dd/MM/yyyy")
            </h4>
        </div>
    </div>

    <div class="divTable">
        <div class="divTableCell">
            <h4 class="sansSerif" style="color:#a1a3a3">
                Kratak opis:
            </h4>
        </div>
        <div class="divTableCell">
            <h4 class="sansSerif">
                @Model.Dogadjaj.Opis
            </h4>
        </div>
    </div>



</div>

@*@{
    decimal show = 0;
    show = Model.ProcenatIspunjenosti * 100;
    <div>

        <h4 class="sansSerif">Progres</h4>
        <div class="card-footer" style="background-color:whitesmoke">
            <div class="progress" style="height:30px">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="height:30px; color:black; font-size:20px; width:@show%;">
                    @show%

                </div>

            </div>
        </div>
    </div>
    <br />
}*@
<br />

@if (Model.IdDonira != 0)
{
    <div>
        @*<h1>Dugme kojim se brise apsolunto sva veza ulogovanog korisnika (sponzora) i dogadjaja</h1>*@
        <button id="doniradelete" class="btn btn-primary" style="float:right;">Prekini sa ukupnim sponzorisanjem dogadjaja</button>
    </div>

}

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#donirajNovac" data-whatever="@Model.Dogadjaj.IdPotrebnogNovca">Doniraj novac</button>
<br />
<br />

@if (Model.ListaPotrebneRobe.Equals(null))
{
    <p>Nema robe na dogadjaju</p>
}
else
{
    @*mozemo ovde recimo ili negde da imamo testiranje da prikazuje
        samo potrebnu robu ili celokupnu robu sa tr i potrebnom kolicinom
        ili da se u frontendu odvoji negde posebno za one sto su skupljene
        i za one sto nedostaju*@

    @*//neka se za sada id zove potrebna roba ali videcemo vec kako cemo to da implementiramo*@

    <table id="potrebnaRoba" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Naziv Proizvoda</th>
                <th>Prikupljena kolicina proizvoda</th>
                <th>Potrebna kolicina Proizvoda</th>
                <th>Cena proizvoda po komadu</th>
                @*ovde ce u zavisnosti od tipa korisnika da se menja
                    poslednja kolona ili obrisi ili ova*@
                <th>Doniraj Robu</th>
               @* <th>Obrisi sve donacije izabrene robe</th>*@
            </tr>
        </thead>
        <tbody>
            @foreach (var proizvod in Model.ListaPotrebneRobe)
            {
                <tr>
                    <td>@proizvod.Proizvod</td>
                    @* <td>@Html.ActionLink(proizvod.Proizvod, "Izmeni", "Roba", new { id = proizvod.Id }, null)</td>*@
                    <td>@proizvod.PrikupljenaRoba</td>
                    <td>@proizvod.PotrebnaKolicina</td>
                    <td>@proizvod.CenaProizvodaPoKomadu</td>
                    <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#kupiRobu" data-whatever="@proizvod.Id" data-naziv="@proizvod.Proizvod">Doniraj</button></td>
                    @*@{  var ima = Model.ListaPrikupljeneRobeUlogovanogSponzora.SingleOrDefault(x => x.IdPotrebneRobe == proizvod.Id);}
                        @if ( ima!= null)
                        {*@
                    @*<td>  <button data-proizvod-id="@proizvod.Id" class="btn-link js-delete">Obrisi donacije</button> </td>*@
                    @*}
                        else
                        {
                            <td>Niste donirali ovu robu</td>
                        }*@

                </tr>
            }
        </tbody>
    </table>
}
<br />
@if (Model.ListaVolontira.Equals(null))
{
    <p>Nema volontera na dogadjaju</p>
}
else
{
    <table id="volonteriDogadjaja" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Ime volontera</th>
                <th>Prezime</th>
                <th>Kontakt</th>
                <th>Email</th>
                <th>Adresa</th>
                <th>Grad</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var volonter in Model.ListaVolontira)
            {
                <tr>

                    <td>@Html.ActionLink(volonter.Volonter.Ime, "PrikaziProfilVolontera", "Volonter", new { id = volonter.Volonter.Id, vidljivost = false }, null)</td>
                    <td>@volonter.Volonter.Prezime</td>
                    <td>@volonter.Volonter.PhoneNumber</td>
                    <td>@volonter.Volonter.Email</td>
                    <td>@volonter.Volonter.Adresa</td>
                    <td>@volonter.Volonter.Grad</td>

                </tr>
            }
        </tbody>
    </table>
}
<br />
@if (Model.ListaDonira.Equals(null))
{
    <p>Nema sponzora na dogadjaju</p>
}
else
{
    <table id="sponzoriDogadjaja" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Naziv sponzora</th>
                <th>Kontakt</th>
                <th>Email</th>
                <th>Delatnost</th>
                <th>Adresa</th>
                <th>Grad</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var sponzor in Model.ListaDonira)
            {
                    bool vidljiv = false;
                    var userId = User.Identity.GetUserId();
                    if (userId != null)
                    {

                        if (sponzor.Sponzor.Id == userId)
                        {
                            vidljiv = true;
                        }
                        else
                        {
                            vidljiv = false;
                        }
                    }


                <tr>
                    <td>@Html.ActionLink(sponzor.Sponzor.Naziv, "PrikaziProfilSponzora", "Sponzor", new { id = sponzor.Sponzor.Id, vidljivost = vidljiv }, null)</td>
                    <td>@sponzor.Sponzor.PhoneNumber</td>
                    <td>@sponzor.Sponzor.Email</td>
                    <td>@sponzor.Sponzor.Delatnost</td>
                    <td>@sponzor.Sponzor.Adresa</td>
                    <td>@sponzor.Sponzor.Grad</td>


                </tr>
            }
        </tbody>
    </table>
}


<div class="modal fade" id="donirajNovac" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="margin-right:100%" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Doniranje novca</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="naziv-sponzora" class="col-form-label">Naziv Vase kompanije</label>
                        <input type="text" class="form-control" id="naziv-sponzora">
                    </div>
                    <div class="form-group">
                        <label for="kolicinaNovca" class="col-form-label">Kolicina novca koji zelite da donirate:</label>
                        <input type="text" class="form-control" id="kolicinaNovca">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Odustani</button>
                <button type="button" class="btn btn-primary" id="doniraj-novac">Doniraj</button>
            </div>
        </div>
    </div>
</div>






<div class="modal fade" id="kupiRobu" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="margin-right:100%" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Nova prikupljena roba</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group" style="visibility:hidden; display:none">
                        <label for="naziv-prikupljene" class="col-form-label">Naziv prikupljene robe</label>
                        <input type="text" class="form-control" id="naziv-prikupljene">
                    </div>
                    <div class="form-group">
                        <label for="prikupio" class="col-form-label">Robu je donirao:</label>
                        <input type="text" class="form-control" id="prikupio">
                    </div>

                    <div class="form-group">
                        <label for="kolicina" class="col-form-label">Kolicina:</label>
                        <input type="text" class="form-control" id="kolicina">
                    </div>
                    <div class="form-group">
                        <label for="tipDoniranja" class="col-form-label">Izaberite nacin na koji donirate robu</label>
                        <select class="form-control" id="tipDoniranja">
                            <option value="0">Prikupljenim novcem</option>
                            <option value="1">Robnim putem</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Odustani</button>
                <button type="button" class="btn btn-primary" id="doniraj">Doniraj</button>
            </div>
        </div>
    </div>
</div>

<label>@Model.Dogadjaj.MestoOdrzavanja</label>
<div class="mapouter" style="height:100%; width:100%">
    <div class="gmap_canvas"><iframe height="500" id="gmap_canvas" onload="this.width=screen.width" src="https://maps.google.com/maps?q=Srbija%2C%20+@Model.Dogadjaj.MestoOdrzavanja+&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.pureblack.de"></a></div>
    <style>
        .mapouter {
            position: relative;
            text-align: right;
            height: 500px;
            width: 100%;
        }

        .gmap_canvas {
            overflow: hidden;
            background: none !important;
            height: 500px;
            width: 100%;
        }
    </style>
</div>

@section scripts
{
    <script>


        $('#donirajNovac').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget); // Button that triggered the modal
            var idPotrebnognovca = button.data('whatever');
            var idsponzora = "@User.Identity.GetUserId()";

            // Extract info from data-* attributes
            // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
            // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
            var modal = $(this);

            $('#doniraj-novac').click(function (e) {
                $.ajax({
                    contentType: 'application/json',
                    type: "POST",
                    url: "/api/novcanedonacije",
                    data: JSON.stringify({
                        idSponzora: idsponzora,
                        idDogadjaja: "@Model.Dogadjaj.Id",
                        idPotrebnogNovca: idPotrebnognovca,
                        nazivSponzora:modal.find('.modal-body #naziv-sponzora').val(),
                        kolicinaNovca: modal.find('.modal-body #kolicinaNovca').val()
                    }),
                    success: function (data, textStatus, jqXHR) {
                        //verovatno ce ovde da ide taj bootbox gde ce da prikaze tipa uplatnicu i tako to
                        console.log("Uspeli smo da doniramo novac");
                        window.location.href = "/dogadjaj/prikazdogadjaja/" + @Model.Dogadjaj.Id;
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log("Nismo uspeli da doniramo robu.")
                    }
                });
            });
        })


        $('#kupiRobu').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget); // Button that triggered the modal
            var idPotrebneRobe = button.data('whatever');
            var naziv=button.data('naziv');
            console.log(idPotrebneRobe);
            console.log(naziv);
            // Extract info from data-* attributes
            // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
            // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
            var modal = $(this);

            $('#doniraj').click(function (e) {
                $.ajax({
                    contentType: 'application/json',
                    type: "POST",
                    url: "/api/prikupljenerobe",
                    data: JSON.stringify({
                        nazivPrikupljeneRobe: naziv,
                        doniranaTip: modal.find('.modal-body #tipDoniranja').val(),
                        prikupioRobu: modal.find('.modal-body #prikupio').val(),
                        kolicina: modal.find('.modal-body #kolicina').val(),
                        idPotrebneRobe: idPotrebneRobe,
                        idMogucegSponzora: "@Model.IdTrenutnogUlogovanogKorisnika",
                        idDogadjaja: "@Model.Dogadjaj.Id"
                    }),
                    success: function (data, textStatus, jqXHR) {
                        console.log("Uspeli smo da doniramo robu");
                        window.location.href = "/dogadjaj/prikazdogadjaja/" + @Model.Dogadjaj.Id;
                        },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log("Nismo uspeli da doniramo robu.")
                    }
                });
            });
        })


        @*$('#potrebannovacdelete').click(function (e) {
            //ovde ulazimo kada hocemo da brisemo svu robu
            //mislim da je ovo reseno ovako


            @foreach(var novac in Model.ListaPrikupljenogNovcaUlogovanogSponzora)
            {
               $.ajax({
                        contentType: 'application/json',
                        type: "DELETE",
                        url: "/api/novcanedonacije/"+ novac.id,

                        success: function (data, textStatus, jqXHR) {
                            console.log("Uspeli smo da obrisemo torku");
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            console.log("Nismo uspeli da obrisemo")
                        }
                });
            }
            window.location.href = "/dogadjaj/prikazdogadjaja/"+@Model.Dogadjaj.Id;
        });*@



        $('#doniradelete').click(function (e) {
                bootbox.confirm("Da li ste sigurni da zelite da prestanete sa sponzorstvom dogadjaja?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/donira/" + @Model.IdDonira,
                            method: "DELETE",
                            success: function () {
                                console.log("Uspeli smo.");
                                window.location.href = "/dogadjaj/prikazdogadjaja/" + @Model.Dogadjaj.Id;
                            }
                        });
                    }
                })
            });





        @*$(document).ready(function () {
            var tabela = $("#potrebnaRoba").DataTable();
            $("#potrebnaRoba").on("click", ".js-delete", function () {
                var button = $(this);
                bootbox.confirm("Da li ste sigurni da želite da obrišete donaciju za izabrani proivod?", function (result) {
                    if(result)
                    {
                        var listaPrikupljene=@Model.ListaPrikupljenogNovcaUlogovanogSponzora;
                        foreach(prikupljena in listaPrikupljene)
                        {
                            if(prikupljena.idPotrebneRobe==button.attr("data-proizvod-id"))
                            $.ajax({
                                url: "/api/prikupljenerobe/" +prikupljena.id ,
                                method: "DELETE",
                                success: function () {
                                    console.log("brisem robu po robu");
                         }
                            });

                        }
                    }
                });

            });
        });*@
        $(document).ready(function () {
            var tabela = $("#potrebnaRoba").DataTable({
                language: {
                    "sProcessing": "Procesiranje u toku...",
                    "sLengthMenu": "Prikaži _MENU_ elemenata",
                    "sZeroRecords": "Nije pronađen nijedan rezultat",
                    "sInfo": "Prikaz _START_ do _END_ od ukupno _TOTAL_ elemenata",
                    "sInfoEmpty": "Prikaz 0 do 0 od ukupno 0 elemenata",
                    "sInfoFiltered": "(filtrirano od ukupno _MAX_ elemenata)",
                    "sInfoPostFix": "",
                    "sSearch": "Pretraga:",
                    "sUrl": "",
                    "oPaginate": {
                        "sFirst": "Početna",
                        "sPrevious": "Prethodna",
                        "sNext": "Sledeća",
                        "sLast": "Poslednja"
                    }
                }
            });

        });

        //Vratiti se opet na ove dve tabele, url:"/api/robe"!!!
        $(document).ready(function () {
            var tabela = $("#sponzoriDogadjaja").DataTable({
                language: {
                    "sProcessing": "Procesiranje u toku...",
                    "sLengthMenu": "Prikaži _MENU_ elemenata",
                    "sZeroRecords": "Nije pronađen nijedan rezultat",
                    "sInfo": "Prikaz _START_ do _END_ od ukupno _TOTAL_ elemenata",
                    "sInfoEmpty": "Prikaz 0 do 0 od ukupno 0 elemenata",
                    "sInfoFiltered": "(filtrirano od ukupno _MAX_ elemenata)",
                    "sInfoPostFix": "",
                    "sSearch": "Pretraga:",
                    "sUrl": "",
                    "oPaginate": {
                        "sFirst": "Početna",
                        "sPrevious": "Prethodna",
                        "sNext": "Sledeća",
                        "sLast": "Poslednja"
                    }
                }
            });

        });

        $(document).ready(function () {
            var tabela = $("#volonteriDogadjaja").DataTable({
                language: {
                    "sProcessing": "Procesiranje u toku...",
                    "sLengthMenu": "Prikaži _MENU_ elemenata",
                    "sZeroRecords": "Nije pronađen nijedan rezultat",
                    "sInfo": "Prikaz _START_ do _END_ od ukupno _TOTAL_ elemenata",
                    "sInfoEmpty": "Prikaz 0 do 0 od ukupno 0 elemenata",
                    "sInfoFiltered": "(filtrirano od ukupno _MAX_ elemenata)",
                    "sInfoPostFix": "",
                    "sSearch": "Pretraga:",
                    "sUrl": "",
                    "oPaginate": {
                        "sFirst": "Početna",
                        "sPrevious": "Prethodna",
                        "sNext": "Sledeća",
                        "sLast": "Poslednja"
                    }
                }
            });


        });


    </script>
}
<style>
    h2.sansSerif {
        color: black;
        text-align: center;
        font: 50px Tahoma, Geneva, sans-serif;
    }


    h4.sansSerif {
        font: 25px Tahoma, Geneva, sans-serif;
        text-align: center;
        color: black;
    }

    .divTable {
        display: table;
        border-spacing: 10px;
        border-collapse: separate;
        /*width: 100%;*/
    }

    .divTableCell {
        display: table-cell;
    }

    * {
        box-sizing: border-box;
    }

    body {
        margin: 0;
        background-color: whitesmoke;
        color: black;
        font-family: Calibri, sans-serif;
    }

    .siva {
        color: #a1a3a3;
    }


    thead {
        background-color: #6a84cc;
        color: whitesmoke;
    }

    tbody {
        background-color: #fcfcfc;
    }
</style>