﻿
@model HumanAID.ViewModels.ProsliDogadjajiViewModel
<link rel="stylesheet" href="~/Content/style.css">

<section class="p-5 prosli">
    <div data-spy="scroll" data-target="#nav" class="container-fluid">
        <div class="row text-center">
            <div class="col text-center py-5">
                <h1 id="prosli" class="display-6 mb-4">Prošli dogadjaji</h1>
            </div>
        </div>
    </div>
    @if (Model.ListaProslihDogadjaja.Equals(null))
    {
        <p>Ne postoje prosli dogadjaji na sajtu.</p>
    }
    else
    {
        <div class="row dogadjajiProsli">
            @foreach (var dogadjaj in Model.ListaProslihDogadjaja)
            {
                <div class="col-lg-4  ">

                    <div class="card card-shadow">
                        <img src="@Url.Content("~/Content/images/")@dogadjaj.UrlSlike" class="card-img-top img-responsive">
                        <div class="card-body">
                            <h4 class="card-title" style="margin-left:50%;">@dogadjaj.NazivDogadjaja</h4>
                            <a href="/dogadjaj/prikazdogadjaja/@dogadjaj.Id" class="btn btn-primary">Vidi detalje</a>
                        </div>
                        <br />
                        <div class="card-footer">
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 100%">100%</div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</section>

@*@if (Model.ListaProslihDogadjaja.Equals(null))
    {
        <p>Ne postoje prosli dogadjaji na sajtu.</p>
    }
    else
    {
        <table id="pdogadjaji" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Naziv dogadjaja</th>
                    <th>Datum odrzavanja</th>
                    <th>Mesto odrzavanja</th>
                    <th>Procenat ispunjenosti</th>
                    <th>Obrisi  dogadjaj</th>
                </tr>
            </thead>
            <tbody>
    @{
        int count = Model.ListaProslihDogadjaja.Count();
        int i = 0;
        decimal show = 0;

        foreach (var dogadjaj in Model.ListaProslihDogadjaja)
        {
            <tr>
                <td>@Html.ActionLink(dogadjaj.NazivDogadjaja, "Izmeni", "Dogadjaj", new { id = dogadjaj.Id }, null)</td>
                <td>@dogadjaj.DatumPocetkaDogadjaja</td>
                <td>@dogadjaj.MestoOdrzavanja</td>
                <td>@{show = Model.ProcenatIspunjenosti[i] * 100;} @show% @{++i;}</td>
                <td>
                    <button data-pdogadjaj-id="@dogadjaj.Id" class="btn-link js-delete">Obrisi dogadjaj</button>
                </td>
            </tr>
                    }
    }
            </tbody>
        </table>
    }
    @section scripts
    {
        <script>
            $(document).ready(function () {
                var tabela = $("#pdogadjaji").DataTable();
                $("#pdogadjaji").on("click", ".js-delete", function () {
                    var button = $(this);
                    bootbox.confirm("Da li ste sigurni da zelite da obrisete dogadjaj?", function (result) {
                        if (result) {
                            $.ajax({
                                url: "/api/dogadjaji/" + button.attr("data-pdogadjaj-id"),
                                method: "DELETE",
                                success: function () {
                                    tabela.row(button.parents("tr")).remove().draw();
                                }
                            });
                        }
                    });
                });
            });
        </script>
    }*@

